<!--  -->
<div *ngIf="isComponentChild; else elseIsComponentChild">
    <ng-container [ngTemplateOutlet]="contentPage"></ng-container>
</div>
<!--  -->
<ng-template #elseIsComponentChild>
    <wrapper-page-list (_countScrollHeight)="scrollHeight=$event">
        <ng-container [ngTemplateOutlet]="contentPage"></ng-container>
    </wrapper-page-list>
</ng-template>

<ng-template #contentPage>
    <div class="card b-list" #pageEl>
        <p-confirmDialog [style]="{width: '600px' }" [baseZIndex]="10000"></p-confirmDialog>
        <p-toast></p-toast> 
        <!--  -->
        <div class=" grid b-header" *ngIf="!isComponentChild">
            <div class="col-12 md:col-7 b-title">
                <h4 style="display:inline"> {{ 'SYSTEM_MANAGER.ACCOUNTS' | translate }} </h4>
            </div>
            <div class="col-12 md:col-5 b-action pr-0">
                <ng-container [ngTemplateOutlet]="buttonCreateUser"></ng-container>
            </div>
        </div>
        <div>
            <p-table 
            [value]="rows" 
            [loading]="isLoading" [rowHover]="true"
            responsiveLayout="scroll" dataKey="code" 
            [showCurrentPageReport]="true" [paginator]="false" 
            [scrollable]="true" 
            [scrollHeight]="scrollHeight+'px'" 
            styleClass="custom-table {{ isRowOdds && 'striped-odd' }}">
            <ng-template pTemplate="caption">
                    <div class="flex">
                        <div class="w-percent-80">
                            <div class="flex justify-content-between flex-column sm:flex-row">
                                <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input 
                                        pInputText type="text" placeholder="{{ 'COMMON.SEARCH' | translate }}" style="min-width: 300px;"
                                        [(ngModel)]="keyword" (keyup)="changeKeyword($event)"
                                    />
                                </span>
                            </div>
                        </div>
                        <div class="w-percent-20 text-right" *ngIf="isComponentChild">
                            <ng-container [ngTemplateOutlet]="buttonCreateUser"></ng-container>
                        </div>
                    </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 5rem; max-width: 5rem; text-align: center;" class="b-border-frozen-left"> #ID </th>
                    <th style="min-width: 10rem;"> {{ 'SYSTEM_MANAGER.USER_NAME' | translate }} </th>
                    <th style="min-width: 25rem;"> {{ 'SYSTEM_MANAGER.FULL_NAME' | translate }} </th>
                    <th style="min-width: 12rem;"> {{ 'SYSTEM_MANAGER.TYPE' | translate }} </th>
                    <th style="min-width: 8rem; max-width: 8rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right"> {{ 'SYSTEM_MANAGER.STATUS' | translate }} </th>                
                    <th style="min-width: 3rem; max-width: 3rem;" pFrozenColumn alignFrozen="right" [frozen]="true"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                <tr>
                    <td style="min-width: 5rem; max-width: 5rem; text-align: center;" class="font-normal" class="b-border-frozen-left"> {{ row.id }} </td>
                    <td style="min-width: 10rem;" class="font-normal"> {{ row?.username }} </td>
                    <td style="min-width: 25rem;" class="font-normal"> {{ row?.fullName }} </td>
                    <td style="min-width: 12rem;" class="font-normal"> {{ UserConst.getNameType(row?.userType)}} </td>
                    <td style="min-width: 8rem; max-width: 8rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right"> 
                        <p-tag 
                            styleClass="p-tag-{{ ActiveDeactiveNumConst.getNameStatus(row.status, language).severity }}" 
                            severity="{{ ActiveDeactiveNumConst.getNameStatus(row.status, language).severity }}" 
                            value="{{ ActiveDeactiveNumConst.getNameStatus(row.status, language).name }}">
                        </p-tag> 
                    </td>   
    
                    <td style="min-width: 3rem; max-width: 3rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-table-actions">
                        <div class="flex justify-content-center" *ngIf="listAction[rowIndex]?.length">
                            <i class="pi pi-ellipsis-h" (click)="menu.toggle($event)"></i>
                            <p-menu
                                #menu [popup]="true"class="button-actions"
                                [model]="listAction[rowIndex]" appendTo="body">
                            </p-menu>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">{{ 'SHARE.EMPTY_MESSAGE' | translate }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7"> {{ 'SHARE.LOADING_BODY' | translate }}</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
        <p-paginator 
            [rows]="page.pageSize" 
            [totalRecords]="page.totalItems" 
            [rowsPerPageOptions]="page.perPageOptions" 
            currentPageReportTemplate="{{ page.totalItems }} {{'SHARE.TOTAL_ITEMS' | translate }}" 
            showCurrentPageReport="true"
            (onPageChange)="setPage($event)">
        </p-paginator>
        <!--  -->
        <ng-template #buttonCreateUser>
            <p-button 
                *ngIf="isGranted([PermissionConst.UserCreate]) || isGranted([PermissionConst.BusinessCustomeAccountCreate]) || isGranted([PermissionConst.RestaurantAccountCreate])"
                (click)="createUser()" 
                label="{{ 'SYSTEM_MANAGER.ADD_ACCOUNT' | translate }}"  
                icon="pi pi-plus" 
                class="p-button-success mr-2">
            </p-button>
        </ng-template>
    </div>
</ng-template>
