<p-toast [baseZIndex]="10000"></p-toast>
<p-confirmDialog [style]="{width: 'auto', 'min-width': '300px'}" header="Thông báo" [baseZIndex]="10000"></p-confirmDialog>
<div class="card">
    <div class="grid formgrid">
        <div class="field col-3">
            <h5>Hỗ trợ</h5>
            <div class="custom-skeleton">
                <p-listbox [options]="messageList" [(ngModel)]="itemSelected" optionLabel="label"
                    (ngModelChange)="chatChange(itemSelected, false)">
                    <ng-template let-item pTemplate="item">
                        <div class="notification-item">
                            {{item?.receiverUserName}}
                        </div> 
                    </ng-template>
                </p-listbox>
            </div>
            <!-- <h5>Thông báo quản trị viên</h5>
            <div class="custom-skeleton">
                <p-listbox [options]="itemsAdmin" [(ngModel)]="itemSelectedAdmin" optionLabel="label"
                    (ngModelChange)="notificationChange(itemSelectedAdmin,true)">
                    <ng-template let-itemAdmin pTemplate="itemAdmin">
                        <div class="notification-item">
                            {{itemAdmin.notificationTemplateName}}
                        </div> 
                    </ng-template>
                </p-listbox>
            </div> -->
        </div>
        <p-message *ngIf="!itemSelected " severity="error" text="Vui lòng chọn cuộc thoại"></p-message>
        <div *ngIf="itemSelected " class="field col-9"> 
            <h5>Đang trò chuyện với: {{ itemSelected?.receiverUserName  }}</h5>
            <div class="button-system-nofify action-icons col-12 md:col-1">
              <i class="pi pi-phone" (click)="makeCall()"></i>
              <i class="pi pi-video" (click)="makeVideoCall()"></i>
            </div>
            <div class="custom-skeleton">
                <p-message severity="info" text="{{ itemSelected?.receiverUserName }}"></p-message>
                <div class="p-fluid p-formgrid grid mt-5">
                  <div class="chat-container w-full">
                    <div *ngFor="let message of messages" class="message"
                        [ngClass]="{'sent': message.sentByMe, 'received': !message.sentByMe, 'multiline': message.message.length > 33}">
                        <p>{{ message.message }}</p>
                        <span class="time">{{ message.createdDate | date:'hh:mm' }}</span>
                    </div>
                    <p-contextMenu #callMenu [model]="callMenuItems"></p-contextMenu>
                </div>
                <div class="message-input">
                    <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage(itemSelected)"
                        placeholder="Type your message here..." />
                    <button (click)="sendMessage(itemSelected)">
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                                        fill="currentColor"></path>
                                </svg>
                            </div>
                        </div>
                        <span>Send</span>
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="card">
    <div class="p-fluid p-formgrid grid b-header">
        <div class="col-12 md:col-9 b-title">
            <h5 style="display:inline"> Hỗ trợ khách hàng </h5>
        </div>
        <div class="action-icons col-12 md:col-1">
            <i class="pi pi-phone" (click)="makeCall()"></i>
            <i class="pi pi-video" (click)="makeVideoCall()"></i>
        </div>
        <div class="col-12 md:col-2"></div>
    </div>
    <div class="chat-container">
        <div *ngFor="let message of messages" class="message"
            [ngClass]="{'sent': message.sentByMe, 'received': !message.sentByMe, 'multiline': message.message.length > 33}">
            <p>{{ message.message }}</p>
            <span class="time">{{ message.createdDate | date:'hh:mm' }}</span>
        </div>
        <p-contextMenu #callMenu [model]="callMenuItems"></p-contextMenu>
    </div>
    <div class="message-input">
        <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"
            placeholder="Type your message here..." />
        <button (click)="sendMessage()">
            <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path
                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                            fill="currentColor"></path>
                    </svg>
                </div>
            </div>
            <span>Send</span>
        </button>
    </div>

</div> -->

  
<!-- 
   <div class="caption">
    <img decoding="async" id="thumbnail"
         src="https://media.istockphoto.com/photos/3d-illustration-of-virtual-human-on-technology-background-picture-id1181533674?s=612x612">
    <h1>Welcome, visitor!</h1>
    <h1>I am an AI Chat-bot developed by <a href="https://gradealx.com">me</a></h1>
   </div>
   <div class="container">
    <div class="card">
      <div class="chat-list" #chatListContainer>
        <ng-container *ngFor="let item of chatMessages">
          <div class="chat-item"
               [ngClass]="{'right' : item?.user?.id == human.id, 'left': item?.user?.id != human.id}">
            <img id="avatar" [src]="item?.user?.profileImageUrl">
            <p id="message-body">{{item?.message}}</p>
          </div>
        </ng-container>
      </div>
      <div class="chat-footer">
        <input matInput id="chat-textarea" [(ngModel)]="chatInputMessage" required>
        <button id="send-button" (click)="send()" [disabled]="chatInputMessage === ''">
          send
        </button>
      </div>
    </div>
   </div>
   <div class="caption">
    <button id="clear-button" (click)="clearConversation()" >
      clear conversation
    </button>
   </div> -->