
.border-box {
  border: 1px solid #eee;
  padding: 10px;
  display: block;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
 
}

.border-box img {
  width: 100%;
}

.gallery-media {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 233px;
}

.gallery-media:hover {
  border: 1px solid #777;
}

.gallery-media img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 5px;
  text-align: center;
  
}
.remove-img {
  color: red;
  cursor: pointer; 
}
.desc:hover {
  
  background-color: #eee;
}
.gallery-image {
  height: 240px;
  width: 100%;
  background-size: cover !important;
  background-color: #eee !important;
} 

.notification-item {
  padding: 5px; 
  font-weight: 500;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.button-system-nofify {
  float: right;
}

.b-icon-trash {
  color: red; 
  font-weight: 600;
  cursor: pointer;
}

/* Style cho khung chat */
.chat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    // padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    // max-width: 51rem;
    // margin: 20px auto;
    margin-bottom: 60px; 
    margin-right: 10px;
    margin-left: 6px;
  }
  
  /* Style cho tin nhắn */
  .message {
    padding: 10px;
    border-radius: 8px;
    max-width: 300px;
    font-size: 14px;
  }

  .multiline {
    /* Thiết lập CSS cho các tin nhắn dài hơn 30 ký tự */
    white-space: pre-wrap;
  }
  
  .sent {
    align-self: flex-end;
    background-color: #007bff;
    color: #fff;
  }
  
  .received {
    align-self: flex-start;
    background-color: #e5e5ea;
    color: #000;
  }
  
  /* Hiệu ứng khi rê chuột vào tin nhắn */
  .message:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease;
  }
  
  /* Style cho thời gian */
  .time {
    font-size: 12px;
    color: #777;
    margin-left: 8px;
  }
  
  /* Style cho khung nhập tin nhắn */
  // .message-input {
  //   display: flex;
  //   align-items: center;
  //   gap: 10px;
  //   // margin-top: 10px;
  //   // max-width: 51rem;
  //   // margin: 20px auto;
  //   width: 100%;
  //   margin-right: 10px;
  //   margin-left: 6px;
  // }

  .message-input {
    position: fixed;
    bottom: 0;
    left: 693px;
    right: 11px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .message-input button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
  }
  
  .message-input button:hover {
    background-color: #0056b3;
  }

  /* ... các kiểu SCSS cũ ... */

/* Style cho biểu tượng chức năng */
.action-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  font-size: 24px;
}

/* Đưa hai nút về phía phải */
.action-icons i {
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto; /* Căn lề phải */
}

.action-icons i:hover {
  background-color: #007bff;
  color: #fff;
}

/* Style cho menu ngữ cảnh */
.p-contextmenu {
  min-width: 140px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.p-contextmenu .p-menuitem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  cursor: pointer;
  color: #000;
  transition: background-color 0.3s ease;
}

.p-contextmenu .p-menuitem:hover {
  background-color: #007bff;
  color: #fff;
}


button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    height: 2.7rem;
 
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(5em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
  
  // 

  // $background: white;
  // $primary: #6c46bd;
  
  // .container {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  margin-left: 18px;
  //  margin-right: 18px;
  // }
  
  // .caption {
  //  padding: 30px;
  //  text-align: center;
  //  color: $primary;
  // }
  
  // #thumbnail {
  //  height: 130px;
  //  width: 130px;
  //  object-fit: cover;
  //  border-radius: 50%;
  // }
  
  // .card {
  //  background: $background;
  //  height: 60%;
  //  width: 500px;
  //  height: 500px;
  //  display: flex;
  //  flex-direction: column;
  //  filter: drop-shadow(0px 0px 5px black);
  //  border-radius: 15px;
  //  padding: 16px;
  
  // }
  
  // .chat-list {
  //  margin-top: auto;
  //  display: flex;
  //  flex-direction: column;
  //  padding: 16px;
  //  overflow-y: scroll;
  
  
  //  .chat-item {
  //    max-width: 80%;
  //    margin: 8px 0px;
  //    display: flex;
  //    flex-direction: row;
  
  //    #message-body {
  //      background: $primary;
  //      margin: auto 8px;
  //      padding: 12px 24px;
  //      border-radius: 30px;
  //      color: white;
  //      display: flex;
  //      flex-direction: row;
  //    }
  
  //    #avatar {
  //      height: 44px;
  //      width: 44px;
  //      object-fit: cover;
  //      border-radius: 50%;
  //      z-index: 99;
  //      border: 3px solid $background;
  //    }
  //  }
  
  //  .left {
  //    margin-right: auto;
  //    margin-left: 8px;
  
  //    #message-body {
  //      margin-left: -10px;
  //    }
  //  }
  
  //  .right {
  //    margin-right: 8px;
  //    margin-left: auto;
  //    flex-direction: row-reverse;
  
  //    #message-body {
  //      margin-right: -10px;
  //    }
  //  }
  // }
  
  // .chat-footer {
  //  display: flex;
  //  flex-direction: row;
  //  padding: 16px;
  //  background: $primary;
  //  border-radius: 6px;
  
  //  #chat-textarea {
  //    flex: 1;
  //    margin: 0 8px;
  //    border: 0px;
  //    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  //    padding: 16px;
  //  }
  
  //  #send-button {
  //    border: 0;
  //    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  //    background: white;
  //    padding: 0 8px;
  //  }
  
  // }
  
  // #clear-button {
  //  border: 0;
  //  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  //  color: white;
  //  padding: 10px;
  //  background: $primary;
  //  border-radius: 6px;
  // }
  
  // ::-webkit-scrollbar {
  //  display: none;
  // }