
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="card p-1">
        <app-loading-page *ngIf="isLoading"></app-loading-page>
        <div class="grid p-fluid p-formgrid grid {{ isLoading ? 'b-loading' : ''}}">
            <div class="field {{(postForm.value.userType == UserConst.BUSINESS_CUSTOMER || postForm.value.userType == UserConst.RESTAURANT) ? 'col-6' : 'col-12' }} mb-0">
                <label htmlFor="userType" class="pd-1"> {{ 'SYSTEM_MANAGER.TYPE' | translate }}<span class="required-field"> * </span></label>
                <p-dropdown [disabled]="filterCustomer.businessCustomerId || filterCustomer.restaurantId" class="b-disabled"
                    appendTo="body" formControlName="userType" [options]="UserConst.types" (onChange)="configRequired(); changeUserType()"
                    optionLabel="name" optionValue="code" styleClass="w-full" [autoDisplayFirst]="false" placeholder="{{'SYSTEM_MANAGER.SELECT_TYPE' | translate}}">
                </p-dropdown>
            </div>

            <div *ngIf="postForm.value.userType == UserConst.BUSINESS_CUSTOMER" class="field col-6 mb-0">
                <label htmlFor="businessCustomerId"> {{ 'SYSTEM_MANAGER.BUSINESS_CUSTOMER' | translate }}</label>
                <p-dropdown [disabled]="filterCustomer.businessCustomerId" class="b-disabled"
                    appendTo="body" formControlName="businessCustomerId" [options]="businessCustomers"
                    placeholder="{{'SYSTEM_MANAGER.SELECT_BUSINESS_CUSTOMER' | translate}}" optionLabel="fullName" optionValue="id" styleClass="w-full" [autoDisplayFirst]="false">
                </p-dropdown>
            </div> 

            <div *ngIf="postForm.value.userType == UserConst.RESTAURANT" class="field col-6 mb-0">
                <label htmlFor="restaurantId">{{ 'SYSTEM_MANAGER.RESTAURANT' | translate }}</label>
                <p-dropdown [disabled]="filterCustomer.restaurantId" class="b-disabled"
                    appendTo="body" formControlName="restaurantId" [options]="restaurants"
                    placeholder="{{'SYSTEM_MANAGER.SELECT_RESTAURANT' | translate}}" optionLabel="name" optionValue="id" styleClass="w-full" [autoDisplayFirst]="false">
                </p-dropdown>
            </div> 

            <div class="field col-6 mb-0">
                <label htmlFor="username"> {{ 'SYSTEM_MANAGER.USER_NAME' | translate }}<span class="required-field"> * </span></label>
                <input formControlName="username" pInputText type="text"/>         
            </div>

            <div class="field col-6 mb-0">
                <label htmlFor="fullName"> {{ 'SYSTEM_MANAGER.FULL_NAME' | translate }}<span class="required-field"> * </span></label>
                <input formControlName="fullName" pInputText type="text"/>         
            </div>

            <div *ngIf="!isHidePassword" class="field col-6 mb-0">
                <label htmlFor="password1" class="mr-3 mb-2"> {{ 'SYSTEM_MANAGER.PASSWORD' | translate }}<span class="required-field"> * </span></label> 
                <p-password [feedback]="false" [toggleMask]="true" formControlName="password" id="password" styleClass="p-password p-component p-inputwrapper p-input-icon-right"></p-password>
            </div>

            <div *ngIf="!isHidePassword" class="field col-6 mb-0">
                <label for="password1" class="mr-3 mb-2"> {{ 'SYSTEM_MANAGER.RE_PASSWORD' | translate }}<span class="required-field"> * </span></label> 
                <p-password [feedback]="false" [toggleMask]="true" formControlName="repeatPassword" id="repeatPassword" styleClass="p-password p-component p-inputwrapper p-input-icon-right"></p-password>
                <span *ngIf="f.repeatPassword.errors?.matchPassword" style="color: red;"> Password and Re-enter password not same! </span>
            </div>
            
            <div class="field col-6 mb-0">
                <label htmlFor="roleIds" class="pd-1"> {{ 'SYSTEM_MANAGER.ROLE' | translate }}</label>
                <p-multiSelect appendTo="body" [options]="roles" formControlName="roleIds" optionLabel="name" placeholder="{{'SYSTEM_MANAGER.SELECT_ROLE' | translate}}" optionValue="id" styleClass="w-full"></p-multiSelect>
            </div>

            <div class="field col-6 mb-0">
                <label htmlFor="phone">{{ 'SYSTEM_MANAGER.PHONE' | translate }}</label>
                <input formControlName="phone" pInputText type="text"/>         
            </div>

            <div class="field col-6 mb-0">
                <label htmlFor="email"> {{ 'SYSTEM_MANAGER.EMAIL' | translate }} </label>
                <input formControlName="email" pInputText type="text"/>         
            </div>
        </div>
        <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
            <button pButton pRipple label="{{ 'COMMON.CANCEL' | translate }}" icon="pi pi-times" class="p-button-text p-confirm-dialog-reject" (click)="cancel()"></button>
            <button type="submit" pButton pRipple label="{{ 'COMMON.SAVE' | translate }}" icon="pi pi-save"></button>
        </div>
    </div>
</form>
