
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="p-1">
        <app-loading-page *ngIf="isLoading"></app-loading-page>
        <div class="grid p-fluid p-formgrid grid {{ isLoading ? 'b-loading' : ''}}">
            <div class="col-12">
                <div class="pt-0 pb-0 mb-0 grid">
                    <div class="col-6">
                        <div class="p-fluid p-formgrid grid">
                            <div class="col-12 wrapper-avatar-issuer flex" style="justify-content: center;">
                                <p-image
                                    [src]="avatarImageUrl ? (AppConsts.remoteServiceBaseUrl + '/' + avatarImageUrl) : imageDefault"
                                    imageClass="b-w-50"
                                    [imageStyle]="{'border-radius':'8px','max-height':'240px', 'width': '100%'}"
                                    [preview]="true">
                                </p-image>
                            </div>
                            <div class="col-12 flex" style="justify-content: center;">
                                <p-fileUpload name="demo[]" accept=".png,.jpeg,.jpg"
                                    chooseLabel="{{ 'PRODUCT_CATEGORY.CHOOSE_IMAGE' | translate }}" chooseIcon="pi pi-image"
                                    class="custom-file-upload mt-3" [customUpload]="true"
                                    (uploadHandler)="myUploader($event)" [auto]="true">
                                </p-fileUpload>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="field col-12 mb-0">
                            <label htmlFor="name"> {{ 'PRODUCT_CATEGORY.NAME' | translate }}<span class="required-field"> * </span></label>
                            <input formControlName="name" pInputText type="text"/>         
                        </div>
        
                        <div class="field col-12 mb-0">
                            <label htmlFor="code"> {{ 'PRODUCT_CATEGORY.CODE' | translate }}<span class="required-field"> * </span></label>
                            <input formControlName="code" pInputText type="text"/>         
                        </div>
        
                        <div class="field col-12 mb-0">
                            <label htmlFor="parentId" class="pd-1"> {{ 'PRODUCT_CATEGORY.PARENT' | translate }}</label>
                            <p-dropdown 
                                appendTo="body" formControlName="parentId" styleClass="w-full"  placeholder="{{ 'PRODUCT_CATEGORY.PLACEHOLDER_PARENT_CATEGORY' | translate }}"
                                [options]="parentCategories" optionLabel="name" optionValue="id" 
                                [showClear]="true" [autoDisplayFirst]="false">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
            <button pButton pRipple label="{{ 'COMMON.CANCEL' | translate }}" icon="pi pi-times" class="p-button-text p-confirm-dialog-reject" (click)="cancel()"></button>
            <button type="submit" pButton pRipple label="{{ 'COMMON.SAVE' | translate }}" icon="pi pi-save"></button>
        </div>
    </div>
</form>
