<app-loading-page *ngIf="isLoading"></app-loading-page>
<!-- <p-toast></p-toast> -->
<p-confirmDialog header="{{ 'CONFIRM.TITLE' | translate }}" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="">
    <div class="card b-list mb-2">
        <div class="flex justify-content-between flex-wrap card-container purple-container header-left">
            <h4 class="title-info mb-3" >{{'ORDER.VIEW_ORDER' | translate }}</h4> 
            <p-button 
                styleClass="p-button-sm custom-button border-600 b-button-back ml-3"
                routerLink="/order-management/order" [label]="'SHARE.BACK' | translate"
                icon="pi pi-chevron-left" class="b-0">
            </p-button>
        </div>
        <!--  -->
        <div class="flex mb-5">
            <div class="w-percent-48">
                <div id="restaurantName" class="grid m-0 customer-info">
                    <div class="col-3 pl-0 pr-0">
                        <span> <b>{{ 'ORDER.ORDERER' | translate }}:</b> </span>
                    </div>
                    <div class="col-9">
                        <span> {{order?.restaurantName}} </span>
                    </div>
                </div>
                <div id="businessCustomerName" class="grid m-0 customer-info">
                    <div class="col-3 pl-0 pr-0">
                        <span> <b>{{ 'ORDER.CUSTOMER' | translate }}:</b> </span>
                    </div>
                    <div class="col-9">
                        <span> {{order?.businessCustomerName}} </span>
                    </div>
                </div>
                <div id="deliveryAddress" class="grid m-0 customer-info">
                    <div class="col-3 pl-0 pr-0">
                        <span> <b>{{ 'ORDER.DELIVERY_ADDRESS' | translate }}:</b> </span>
                    </div>
                    <div class="col-9">
                        <span> {{ order?.deliveryAddress}}</span>
                    </div>
                </div>
    
            </div>
            <div class="w-percent-3"></div>
            <div class="w-percent-49">
                <div id="orderDate" class="grid m-0 customer-info">
                    <div class="col-3 pl-0 pr-0">
                        <span> <b>{{ 'ORDER.ORDER_DATE' | translate }}:</b> </span>
                    </div>
                    <div class="col-9">
                        <span> {{order?.orderDate ? this.formatDate(order.orderDate, TypeFormatDatesConst.DMYHm) : ''}} </span>
                    </div>
                </div>
                <div id="status" class="grid m-0 customer-info">
                    <div class="col-3 pl-0 pr-0">
                        <span> <b>{{ 'SHARE.STATUS' | translate }}:</b> </span>
                    </div>
                    <div class="col-9">
                        <p-tag 
                            styleClass="p-tag-{{ OrderConst.getAttribution(order?.status)?.severity }}" 
                            severity="{{ OrderConst.getAttribution(order?.status)?.severity }}" 
                            value="{{ OrderConst.getAttribution(order?.status).name | translate }}">
                        </p-tag> 
                    </div>
                </div>
                <div id="invoiceAddress" class="grid m-0 customer-info">
                    <div class="col-3 pl-0 pr-0">
                        <span> <b>{{ 'ORDER.INVOICE_ADDRESS' | translate }}:</b> </span>
                    </div>
                    <div class="col-9">
                        <span> {{ order?.invoiceAddress}} </span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="order?.trackingCode" class="grid m-0 mb-5">
            <div class="col-12 p-0">
                <span>{{ 'ORDER.TRACKING_CODE' | translate }}: {{ order?.trackingCode}} </span>
            </div>
            <div class="col-12 p-0">
                <span>{{ 'ORDER.SHIPPING_PROVIDER' | translate }}: {{ order?.shippingProviderName}} </span>
            </div>
            <div class="col-12 p-0">
                <span>{{ 'ORDER.ESTIMATED_DELIVERY_DATE' | translate }}: {{ order?.estimatedShippingDate}} </span>
            </div>
        </div>
    </div>
  
    <div class="card pb-3">
      <div class="grid m-0">
        <div class="field-flex col-6 p-0">
          <h5 class="mb-0">{{ 'ORDER.LIST_PRODUCT' | translate }}</h5>
        </div>
        <div class="field-flex mb-1 col-12 pl-0 pr-0">
            <p-table
                #orderProductTable 
                [value]="orderDetails" [columns]="cols"
                [loading]="isLoading" [rowHover]="true" [showCurrentPageReport]="true" [paginator]="false" 
                responsiveLayout="scroll" dataKey="code"
                [resizableColumns]="false" [scrollable]="true" styleClass="custom-table custom-border-table b-width-100">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left b-border-frozen-right"> {{ 'SHARE.ID' | translate  }} </th>
                        <th style="min-width: 16rem;"> {{ 'ORDER.PRODUCT_NAME' | translate  }} </th>
                        <th style="max-width: 12rem; min-width: 12rem;"> {{ 'ORDER.PRODUCT_CATEGORY' | translate  }} </th>
                        <th style="max-width: 7rem; min-width: 7rem;"> {{ 'ORDER.PRODUCT_UNIT' | translate  }} </th>
                        <th style="max-width: 12rem; min-width: 12rem;" class="justify-content-end"> {{ 'ORDER.PRODUCT_UNIT_PRICE' | translate  }} </th>
                        <th style="max-width: 7rem; min-width: 7rem;" class="justify-content-end"> {{ 'ORDER.PRODUCT_QUANTITY' | translate  }} </th>
                        <th style="max-width: 12rem; min-width: 12rem;" class="b-border-frozen-left b-border-frozen-right justify-content-end"> {{ 'ORDER.PRODUCT_PRICE' | translate  }} </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-columns="columns" let-editing="editing">
                    <tr>
                            <td style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left b-border-frozen-right"> {{ row.id }} </td>
                            <td style="min-width: 20rem;" > {{ row.name }} </td>
                            <td style="max-width: 12rem; min-width: 12rem;" > {{ row.category }} </td>
                            <td style="max-width: 7rem; min-width: 7rem;" > {{ row.calculationUnitName }} </td>
                            <td style="max-width: 12rem; min-width: 12rem;" class="justify-content-end">
                                {{ formatCurrency(row.unitPrice) }}
                            </td>
                            <td style="max-width: 7rem; min-width: 7rem;" class="justify-content-end">
                                {{row.quantity }}
                            </td>
                            <td style="max-width: 12rem; min-width: 12rem;" class="justify-content-end b-border-frozen-left b-border-frozen-right"> {{ formatCurrency(row.price) }} </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        
        <!--  -->
        <div class="field mb-1 col-8 pl-0 pr-0">
          <h5>{{ 'ORDER.HISTORY' | translate }}</h5>
          <div class="flex">
            <p-timeline [value]="histories" class="md:w-30rem">
              <!-- <ng-template pTemplate="content" let-history>
                <h6>{{history.actionName | translate}}</h6>
                <p>{{history.note}}  
                    <span class="border-double surface-overlay font-bold m-2 p-1">
                        {{history?.createdUserBy?.username}} - {{history?.createdUserBy?.fullName}}
                    </span>
                </p>
              </ng-template> -->
              <ng-template pTemplate="content" let-history>
                <h6> {{history.action | translate}}</h6>
                <p>{{history.note}}</p>
                <div class="user-container mb-5">
                    <span class="user-icon">{{ history?.createdUserBy?.username[0] }}</span>
                    <span class="user-info">{{ history?.createdUserBy?.username }} - {{ history?.createdUserBy?.fullName }}</span>
                </div>
              </ng-template>
              <ng-template pTemplate="opposite" let-history>
                {{ history.date }}
            </ng-template>
            </p-timeline>
          </div>

        </div>
        <div class="field mb-1 col-4">
          <div class="flex b-custom-price justify-content-end">
            <span>{{ 'ORDER.TOTAL_PRICE' | translate }}: {{formatCurrency(totalPrice)}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer mt-3" *ngIf="!orderId">
      <div class="grid grid-nogutter justify-content-end mr-3 mt-2">
        <button type="submit" pButton pRipple label="{{ 'SHARE.SAVE' | translate }}" icon="pi pi-save" (click)="onSubmit()"></button>
      </div>
    </div>
</div>