::ng-deep {
    .custom-border-table {
        .p-datatable-table {
            table-layout: fixed !important;
            width: 100%;
            tbody {
                tr {
                    td {
                        border-bottom-width: 1px !important;
                    }
                    
                }
            }
        }
    }

    .p-timeline-event-content{
        flex: 5 !important;
    }

    .customer-info {
        border-bottom: 1px solid #cfcfcf
    }
}

.b-custom-price{
    font-size: 16px;
    font-weight: 600;
    color: #232154;
}