.no-border {
    border: none;
}

.form-detail {
    .info-line {
        padding: 0.75rem 0;
        border-bottom: 1px solid #d4d4d4;
        &.unset-border {
            border: none;
        }
        &:first-child {
            padding-top: 0 !important;
        }
        .title-vi {
            width: 12rem;
        }
        .title-jp {
            width: 12rem;
        }
        .title-en {
            width: 12rem;
        }

        .content {
            width: 100%;
            font-weight: bold;
            span {
                opacity: 0.9;
            }
            input {
                width: 85%;
            }
        }
    }
}