<form [formGroup]="postForm" (ngSubmit)="onSubmit()"> 
    <div class="tab-info" [style.height.px]="contentHeight" *ngIf="itemDetail?.id" #formEditOrDetail>    
        <div class="text-right">
            <p-button *ngIf="isGranted([PermissionConst.RestaurantUpdate])"
                styleClass="custom-button" 
                label="{{ (isEdit ? 'SHARE.UPDATE' : 'SHARE.EDIT') | translate }}" 
                [icon]="!isEdit ? 'pi pi-pencil' : 'pi pi-save'" 
                (click)="isEdit=!isEdit; changeEdit()">
            </p-button>
        </div>    
        <div class="form-detail">
            <div class="flex info-line {{ !isEdit || 'unset-border' }}" *ngFor="let input of restaurantDetail">
                <div class="title-{{currentLang}}">
                    <label> {{ input.label }}: </label>
                </div>
                <div class="content">
                    <span *ngIf="!isEdit"> {{ postForm?.value[input.controlName] }} </span>
                    <input *ngIf="isEdit" [formControlName]="input.controlName" pInputText type="text"/>
                </div>
            </div>
            <div class="flex info-line {{ !isEdit || 'unset-border' }}" *ngIf="isEdit">
                <div class="title-{{currentLang}}">
                    <label> {{ 'RESTAURANT.BUSINESS_CUSTOMER' | translate }}: </label>
                </div>
                <div class="content">
                    <p-dropdown  appendTo="body" formControlName="businessCustomerId" [options]="businessCustomers"
                        placeholder="{{ 'RESTAURANT.CHOOSE_BUSINESS' | translate }}" optionLabel="labelName"
                        optionValue="id" styleClass="w-percent-85" >
                    </p-dropdown>
                </div>
            </div>
            <div class="flex info-line {{ !isEdit || 'unset-border' }}" >
                <div class="title-{{currentLang}}">
                    <label> {{ 'SHARE.STATUS' | translate }}: </label>
                </div>
                <div class="content">
                    <span *ngIf="!isEdit"> {{ RestaurantConst.getNameStatus(postForm?.value?.status,currentLang).name}} </span>
                    <!-- <input [readonly]="!isEdit" *ngIf="!isEdit" class="w-full " [ngClass]="{'no-border': !isEdit}" value="{{ RestaurantConst.getNameStatus(postForm?.value?.status,currentLang).name}}" pInputText type="text" /> -->
                    <p-dropdown *ngIf="isEdit"  appendTo="body" formControlName="status" [options]="RestaurantConst.listStatus"
                        placeholder="{{ 'ORDER.CHOOSE_STATUS' | translate }}" [optionLabel]="'name.' + currentLang" optionValue="code"
                        styleClass="w-percent-85" >
                    </p-dropdown>
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <div class="card" *ngIf="!itemDetail?.id">
        <div class="field grid" *ngFor="let field of restaurantDetail">
            <label class="col-12 mb-2 md:col-3 md:mb-0" [htmlFor]="field.controlName">{{ field.label }}:</label>
            <div class="col-12 md:col-9">
                <input class="w-full no-border" [ngClass]="{'no-border': !isEdit}" [readonly]="!isEdit " [formControlName]="field.controlName" pInputText type="text" />
            </div>
        </div>
        <div class="field grid" *ngIf="isEdit">
            <label class="col-12 mb-2 md:col-3 md:mb-0" htmlFor="phone">{{ 'RESTAURANT.BUSINESS_CUSTOMER' | translate }}:</label>
            <div class="col-12 md:col-9">
                <p-dropdown  appendTo="body" formControlName="businessCustomerId" [options]="businessCustomers"
                    placeholder="{{ 'RESTAURANT.CHOOSE_BUSINESS' | translate }}" optionLabel="labelName"
                    optionValue="id" styleClass="w-full no-border">
                </p-dropdown>
            </div>  
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0" htmlFor="phone">Status:</label>
            <div class="col-12 md:col-9">
                <input [readonly]="!isEdit" *ngIf="!isEdit" class="w-full " [ngClass]="{'no-border': !isEdit}" value="{{ RestaurantConst.getNameStatus(postForm?.value?.status,currentLang).name}}" pInputText type="text" />
                <p-dropdown *ngIf="isEdit"  appendTo="body" formControlName="status" [options]="RestaurantConst.listStatus"
                    placeholder="{{ 'ORDER.CHOOSE_STATUS' | translate }}" [optionLabel]="'name.' + currentLang" optionValue="code"
                    styleClass="w-full no-border">
                </p-dropdown>
            </div>  
        </div>
        </div>
    <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
        <button type="reset" pButton pRipple label="{{ 'SHARE.CANCEL' | translate }}" icon="pi pi-times"
            class="p-button-text p-confirm-dialog-reject" (click)="ref.close()"></button>
        <button type="submit" pButton pRipple label="{{ 'SHARE.SAVE' | translate }}" icon="pi pi-save"></button>
    </div>
</form>