::ng-deep .e-file-upload {
    &.fix-height {
        .p-fileupload-content {
            height: 40vh;
        }
    }
    
    .p-fileupload-content {
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        .gallery {
            margin: 5px;
            border: 1px solid #ccc;

            width: calc((100% - 30px)/3);
            border-radius: 3px;
            // 
            &:hover {
                border: 1px solid #777;
            }

            .gallery-video {
                height: auto;
            }

            .gallery-image {
                height: 150px;
                width: 100%;
                background-size: cover !important;
                background-color: #eee;
                cursor: pointer;
                .overlay-preview {
                    display: flex;
                    opacity: 1;
                    align-items: center;
                    justify-content: center;
                    background-color: #80808094;
                    width: 100%;
                    height: 100%;
                    .pi-eye {
                        font-size: 1.5rem;
                        color: white;
                    }
                }
            }

            .icon-actions {
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon {
                    cursor: pointer;
                    &.remove-img {
                        cursor: pointer;
                        &:hover {
                            color: red;
                        }
                    } 
                    &.icon-crop {
                        width: 16px;
                        &:hover {
                            filter: drop-shadow(2px 4px 6px blue);
                        }
                    }
                }
            }
        }
        
    }
}