<div class="ui-dialog-content-custom">
    <div *ngIf="dialogData.titleInput" class="col-12 md:col-12 p-0 mb-3">
        <div class="field mb-0">
            <label> {{ dialogData.titleInput }} <span class="required-field" *ngIf="dialogData.inputRequired"> * </span></label>
            <input 
                type="text" id="input" name="input" pInputText style="width: '100%';"
                [(ngModel)]="inputValue" (input)="changeValue($event.target.value)"
            />
        </div>
    </div>
    <p-fileUpload
        #pUpload 
        [multiple]="dialogData.multiple" customUpload="true" auto="true"
        styleClass="e-file-upload {{ files?.length > 3 ? 'fix-height' : '' }}"
        [accept]="dialogData.accept | acceptFile" 
        [chooseLabel]="dialogData.chooseLabel"
        maxFileSize="100000000"
        (onSelect)="onSelectedFiles($event)">
        <ng-template let-file pTemplate="file"></ng-template>
        <ng-template pTemplate="content">
            <p-progressBar *ngIf="isUploading" mode="indeterminate"></p-progressBar>
            <div *ngFor="let file of files; index as index" class="gallery">
                <ng-container *ngIf="(fileType | function: file) === EAcceptFile.IMAGE">
                    <div (click)="preview(file)" class="gallery-image" [ngStyle]="{background: 'url('+ (file?.objectURL?.changingThisBreaksApplicationSecurity || file?.objectUrl) +')' }">
                        <div class="overlay-preview">
                            <icon class="pi pi-eye"></icon>
                        </div>
                    </div>
                    <div class="icon-actions">
                        <img 
                            class="icon-crop icon mr-3" title="Cắt ảnh"
                            src="/assets/layout/images/icon-crop-image.png"
                            (click)="cropImage(file, index)"
                        />
                        <!--  -->
                        <i 
                            title="Xóa ảnh"
                            class="remove-img pi pi-trash icon" 
                            (click)="removeFile(index, fileUpload)"
                        >
                        </i>
                    </div>
                </ng-container>
                <ng-container *ngIf="(fileType | function: file) === EAcceptFile.VIDEO">
                    <div class="gallery-video"> 
                        <e-video [src]="file" [height]="'auto'"></e-video>
                    </div>
                    <div class="icon-actions">
                        <i 
                            title="Xóa video"
                            class="remove-img pi pi-trash icon" 
                            (click)="removeFile(index, fileUpload)"
                        >
                        </i>
                    </div>
                </ng-container>
            </div>
            <ng-container *ngIf="inputValue && (Utils.isExtensionVideo(inputValue) || Utils.checkLinkYoutube(inputValue))">
                <e-video [src]="inputValue"></e-video>
            </ng-container>
        </ng-template>
    </p-fileUpload>
</div>
<div class="p-dialog-footer e-custom-dialog-footer">
    <button type="button" class="mr-2 p-button-secondary" pButton iconPos="left" label="Hủy" icon="pi pi-times" (click)="hideDialog()"></button>
    <button type="submit" class="p-button-success" pButton iconPos="left" [label]="!isUploading ? 'Hoàn thành' : 'Đang xử lý .....'" icon="pi pi-check" [disabled]="isUploading" (click)="onUpload()"></button>
</div>