<div class="card">
  <h5>Giỏ hàng của tôi</h5>
  <p-table [value]="cartItems" [(selection)]="selectedItems" selectionMode="multiple" [scrollHeight]="0.65+'px'">
      <ng-template pTemplate="header">
        <tr>
          <th style="max-width: 5rem; min-width: 5rem;"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
          <th style="min-width: 18rem;">Sản phẩm</th>
          <th style="min-width: 12rem;">Đơn giá</th>
          <th style="max-width: 12rem; min-width: 12rem;" >
            <div  class="quantity-container">
              Số lượng
            </div>
            </th>
          <th style="max-width: 8rem; min-width: 8rem;">Số tiền</th>
          <th style="max-width: 8rem; min-width: 8rem;">Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cartItem>
        <tr>
          <td style="max-width: 5rem; min-width: 5rem;"><p-tableCheckbox [value]="cartItem"></p-tableCheckbox></td>
          <td style="min-width: 18rem;">
            <div class="product-info">
              <img class="product-image" src="{{AppConsts.remoteServiceBaseUrl}}/{{ cartItem?.image }}" alt="Product Image">
              <span>{{ cartItem.productName }}</span>
            </div>
          
          </td>
          <td style="min-width: 12rem;">{{ formatCurrency(cartItem?.price) }}</td>
          <td style="max-width: 12rem; min-width: 12rem;">
            <div  class="quantity-container">
              <button class="quantity-button" (click)="decreaseQuantity(cartItem)">-</button>
              <span>{{ cartItem.quantity }}</span>
              <button class="quantity-button" (click)="increaseQuantity(cartItem)">+</button>
            </div>
          </td>
          <td style="max-width: 8rem; min-width: 8rem;">{{ formatCurrency(cartItem?.total) }}</td>
          <td style="max-width: 8rem; min-width: 8rem;">
            <button class="delete-button" (click)="removeItem(cartItem)">Xóa</button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" >
        <tr >
          <td></td>
          <td></td>
          <td></td>
          <td>
              <span class="selected-count">
                Tổng thanh toán ({{ selectedItems.length }} sản phẩm):
              </span>
          </td>
          <td class="total-price">{{ calculateTotalSelected() }}</td>
     
          <td>
            <!-- <button class="buy-button" (click)="buyItems()">Mua hàng</button> -->
            <button class="learn-more" (click)="buyItems()">
              <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
              </span>
              <span class="button-text">Mua hàng</span>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
</div>
  
