
<wrapper-page-list (_countScrollHeight)="contentTabHeight=$event">
    <p-toast></p-toast>
    <p-confirmDialog header="{{ 'CONFIRM.TITLE' | translate }}" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <div class="card" #pageEl>
        <div class="grid b-header mb-0">
            <div class="card col-12 md:col-12 b-actions pb-0">
                <div class="flex justify-content-between flex-wrap card-container purple-container">
                    <h3 class="title-info mb-0 ml-0">{{ itemDetail?.name || 'None'}} </h3>
                </div>
            </div>
        </div>
        <p-tabView styleClass="tabview-jvf" [(activeIndex)]="activeIndex" (onChange)="changeTab($event)">
            <p-tabPanel  [header]="'detail'">
                <ng-template pTemplate="header">
                    <span> {{ 'RESTAURANT.RESTAURANT_INFO' | translate }} </span>
                </ng-template>
                    <ng-container *ngIf="!isLoading">
                        <app-restaurant-add
                            [itemDetail]="itemDetail"
                            [contentHeight]="contentTabHeight"
                            [isComponentChild]="true">
                        </app-restaurant-add>
                    </ng-container>
            </p-tabPanel>
            <p-tabPanel *ngIf="isGranted([PermissionConst.RestaurantDeliveryAddressMenu])" [header]="'address'">
                <ng-template pTemplate="header">
                    <span> {{ 'RESTAURANT.DELIVERY_ADDRESS' | translate }} </span>
                </ng-template>
                <ng-container>
                    <app-delivery-address
                        *ngIf="tabViewActive.address && !isLoading" 
                        [restaurantId]="restaurantId" 
                        [contentHeight]="contentTabHeight">
                    </app-delivery-address>
                </ng-container>
            </p-tabPanel>
            <p-tabPanel *ngIf="isGranted([PermissionConst.RestaurantAccountMenu])" [header]="'account'">
                <ng-template pTemplate="header">
                    <span> {{ 'RESTAURANT.LOGIN_ACCOUNT' | translate }} </span>
                </ng-template>
                <div class="wrapper-tabview-list">
                    <ng-container>
                        <app-user-manager
                            *ngIf="tabViewActive.account && !isLoading" 
                            [restaurantId]="restaurantId"
                            [contentHeight]="contentTabHeight" 
                            [isComponentChild]="true">
                        </app-user-manager>
                    </ng-container>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</wrapper-page-list>