<p-table [value]="purchaseOrders" [paginator]="true" [rows]="5">
	<ng-template pTemplate="header">
		<tr>
			<th>Mã đơn hàng</th>
			<th>Sản phẩm</th>
			<th>Giá</th>
			<th>Số lượng</th>
			<th>Thành tiền</th>
			<th>Tổng tiền</th>
			<th>Trạng thái</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-purchaseOrder let-rowIndex="rowIndex" let-rowspan="rowspan">
		<tr *ngFor="let product of purchaseOrder.orderDetails" (click)="navigate(product)">
			<td *ngIf="purchaseOrder.orderDetails.indexOf(product) === 0" [rowSpan]="purchaseOrder.orderDetails.length">
				VVN-{{ purchaseOrder.id }}</td>
			<td>{{ product.productName }}</td>
			<td>{{ formatCurrency(product?.unitPrice) }}</td>
			<td>x{{ formatCurrency(product?.quantity) }}</td>
			<td>{{ formatCurrency(product.unitPrice * product.quantity)  }}</td>
			<td *ngIf="purchaseOrder.orderDetails.indexOf(product) === 0" [rowSpan]="purchaseOrder.orderDetails.length">
				{{ formatCurrency(purchaseOrder.totalMoney) }}</td>
			<td *ngIf="purchaseOrder.orderDetails.indexOf(product) === 0" [rowSpan]="purchaseOrder.orderDetails.length" style="max-width: 8rem; min-width: 8rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right"> 
				<p-tag 
					styleClass="p-tag-{{ OrderCustomerConst.getNameStatus(purchaseOrder.status, language).severity }}" 
					severity="{{ OrderCustomerConst.getNameStatus(purchaseOrder.status, language).severity }}" 
					value="{{ OrderCustomerConst.getNameStatus(purchaseOrder.status, language).name  }}">
				</p-tag> 
			</td>
		</tr>
	</ng-template>
	<ng-template pTemplate="emptymessage">
		<tr>
			<td colspan="7">Không có dữ liệu.</td>
		</tr>
	</ng-template>
	<ng-template pTemplate="loadingbody">
		<tr>
			<td colspan="7"> Đang tải dữ liệu ... </td>
		</tr>
	</ng-template>
</p-table>