<div class="grid mr-0 ml-0 mt-0">
  <div class="col-12">
    <div class="card p-0">
      <div *ngFor="let media of dataMediaTypes; let indexMediaType = index" class="mt-3">
          <div>
            <h5 class="mb-2"> {{ media?.name }} ({{ inputData?.length }}) </h5>
            <div class="flex grid p-fluid col-12 md:col-12" style="flex-wrap: wrap;" cdkDropListGroup>
              <ng-container *ngFor="let item of inputData; let index = index">
                <div class="item-wrap mt-3 mb-3" cdkDropList cdkDropListOrientation="horizontal"
                  [cdkDropListData]="{ item: item, index: index }" (cdkDropListDropped)="drop($event, indexMediaType, media)" [title]="'Giữ và kéo để sắp xếp thứ tự!'">
                  <div cdkDrag>
                    <label class="b-img-active">
                      <p-image 
                        [src]="getImage(item)" alt="Image" [width]="150" [height]="150"
                        [imageStyle]="imageStyle" [preview]="true">
                      </p-image>
                    </label>
                    <div class="flex justify-content-evenly flex-wrap mt-2">
                      <i class="flex align-items-center justify-content-center pi pi-trash b-icon b-icon-delete cursor-pointer" title="Xóa" (click)="deleteImage(index)"></i>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div class="item-wrap mt-3 mb-3">
                <label (click)="insertImages(media)">
                  <p-image 
                    [src]="imgBackground" alt="Image" [width]="150" [height]="150" [imageClass]="imageClass"
                    class="cursor-pointer">
                  </p-image>
                </label>
              </div>
            </div>
            <hr>
          </div>
        </div>
    </div>
  </div>
  </div>
