<form [formGroup]="formBase">
    <div class="grid card p-fluid">
        <div class="col-3 flex flex-wrap mb-2">
            <div class="field">
                <label> Input Text </label>
                <input pInputText formControlName="inputText" name="inputText"/>
            </div>
        </div>
        <div class="col-3 flex flex-wrap">
            <div class="field">
                <label> {{ 'HOME.INPUT_TEXT' | translate }} </label>
                <p-inputNumber inputId="inputNumber" formControlName="inputNumber" name="inputNumber"> </p-inputNumber>
            </div>
        </div>
        <div class="col-3 flex flex-wrap">
            <div class="field">
                <label> Input Textarea </label>
                <textarea rows="1" cols="30" pInputTextarea formControlName="inputTextarea" name="inputTextarea"></textarea>
            </div>
        </div>
        <div class="col-3 flex flex-wrap">
            <div class="field">
                <label> Select </label>
                <p-dropdown formControlName="select" [options]="[]" optionLabel="name" optionValue="code" styleClass="w-15rem"></p-dropdown>
            </div>
        </div>
        <div class="col-3 flex flex-wrap">
            <div class="field">
                <label> Multiple Select </label>
                <p-multiSelect [options]="[]" formControlName="multipleSelect" optionLabel="name" optionValue="code" styleClass="w-15rem"></p-multiSelect>
            </div>
        </div>
        <div class="col-3 flex flex-wrap">
            <div class="field">
                <label> CascadeSelect </label>
                <p-cascadeSelect 
                    formControlName="cascadeSelect" styleClass="w-15rem" 
                    [options]="countries" optionLabel="cname" optionGroupLabel="name" 
                    [optionGroupChildren]="['states', 'cities']" 
                    [style]="{ minWidth: '14rem' }" placeholder="Select a City">
                </p-cascadeSelect>
            </div>
        </div>
        <div class="col-6 flex flex-wrap">
            <div class="field">
                <label> Calendar </label>
                <p-calendar formControlName="calendar"></p-calendar>
            </div>
        </div>
        <!--  -->
        <div class="col-3 flex flex-wrap">
            <div class="field">
                <label> Password </label>
                <input pInputText formControlName="password">
            </div>
        </div>
        <div class="col-3 flex flex-wrap">
            <div class="field">
                <label> ConfirmPassword </label>
                <input pInputText formControlName="confirmPassword">
                {{ f.errors | json }}
                <span *ngIf="f.errors?.matchPassword"> Mật khẩu không khớp </span>
            </div>
        </div>
        <div class="text-right col-12">
            <button 
                id="submit-button" pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text" class="w-5rem" 
                (click)="submitForm()">
            </button>
        </div>
    </div>
</form>
