
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="p-1">
        <app-loading-page *ngIf="isLoading"></app-loading-page>
     
        <div class="grid p-fluid p-formgrid grid {{ isLoading ? 'b-loading' : ''}}">
                <div class="field col-4 mb-0">
                    <label htmlFor="code"> {{ 'PRODUCT.CODE' | translate }}<span class="required-field"> * </span></label>
                    <input formControlName="code" pInputText type="text"/>         
                </div>
                <div class="field col-8 mb-0">
                    <label htmlFor="name"> {{ 'PRODUCT.NAME' | translate }}<span class="required-field"> * </span></label>
                    <input formControlName="name" pInputText type="text"/>         
                </div>
                <div class="field col-4 mb-0">
                    <label htmlFor="calculationUnitId" class="pd-1"> {{ 'CALCULATION_UNIT.TABLE_LINK' | translate }} <span class="required-field"> * </span></label>
                    <p-dropdown 
                        appendTo="body" formControlName="calculationUnitId" [options]="calculationUnits" optionLabel="name" optionValue="id" 
                        styleClass="w-full" [autoDisplayFirst]="false" placeholder="{{ 'PRODUCT.PLACEHOLDER_CALCULATION_UNIT' | translate }} ">
                    </p-dropdown>
                </div>
                <div class="field col-8 mb-0">
                    <label htmlFor="productCategoryId" class="pd-1"> {{ 'PRODUCT.PRODUCT_CATEGORY' | translate }} <span class="required-field"> * </span></label>
                    <p-dropdown 
                        appendTo="body" formControlName="productCategoryId" [options]="parentCategories" optionLabel="name" optionValue="id" 
                        styleClass="w-full" [autoDisplayFirst]="false" placeholder="{{ 'PRODUCT.PLACEHOLDER_PRODUCT_CATEGORY' | translate }} ">
                    </p-dropdown>
                </div>
                <div class="field col-4 mb-0">
                    <label htmlFor="defaultPrice"> {{ 'PRODUCT.COLUMN_DEFAULT_PRICE' | translate }}<span class="required-field"> * </span></label>
                    <p-inputNumber mode="decimal" locale="de-DE" class="b-disabled" type="text" formControlName="defaultPrice"></p-inputNumber>        
                </div>
                <div class="col-8 checkbox-custom" >
                    <p-checkbox formControlName="allowOrder" [binary]="true" class="large-checkbox"></p-checkbox>
                    <label (click)="toggleCheckbox()" class="ml-1" for="allowOrder">{{ 'PRODUCT.CHECKBOX_ALLOW_ORDERING' | translate }}</label>
                </div>
            <div class="col-12">
                <div class="pt-0 pb-0 mb-0 grid">
                    <div class="col-8">
                        <div class="field col-12 mb-0">
                            <label htmlFor="description"> {{ 'PRODUCT.COLUMN_DESCRIPTION' | translate }}<span class="required-field"> * </span></label>
                            <textarea formControlName="description" rows="6" pInputTextarea></textarea>   
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="p-fluid p-formgrid grid mt-1">
                            <div class="col-12 wrapper-avatar-issuer mt-4 flex" style="justify-content: center;">
                                <p-image alt="Image" 
                                    [src]="postForm?.value?.image ? (AppConsts.remoteServiceBaseUrl + '/' + postForm?.value?.image) : imageDefault"
                                    imageClass="b-w-10"
                                    [imageStyle]="{'border-radius':'8px','max-height':'122px', 'width': '100%'}"
                                    [preview]="true">
                                </p-image>
                            </div>
                            <div class="col-12 flex" style="justify-content: center;">
                                <p-fileUpload name="demo[]" accept=".png,.jpeg,.jpg"
                                    chooseLabel="{{ 'PRODUCT_CATEGORY.CHOOSE_IMAGE' | translate }}" chooseIcon="pi pi-image"
                                    class="custom-file-upload mt-3" [customUpload]="true"
                                    (uploadHandler)="myUploader($event)" [auto]="true">
                                </p-fileUpload>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>

        </div>
        <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
            <button pButton pRipple label="{{ 'COMMON.CANCEL' | translate }}" icon="pi pi-times" class="p-button-text p-confirm-dialog-reject" (click)="cancel()"></button>
            <button type="submit" pButton pRipple label="{{ 'COMMON.SAVE' | translate }}" icon="pi pi-save"></button>
        </div>
    </div>
</form>
