.checkbox-custom {
    margin-top: 2.4rem;
}

.large-checkbox {
    width: 20px; 
    height: 20px; 
}

::ng-deep .p-image-preview {
    transition: transform .15s;
    max-width: 100vw;
    max-height: 60vh;
}