<wrapper-page-list (_countScrollHeight)="contentTabHeight=$event">
    <p-toast></p-toast>
    <div class="card" #pageEl>
        <div class="grid b-header mb-0">
            <div class="card col-12 md:col-12 b-actions pb-0">
                <div class="flex justify-content-between flex-wrap card-container purple-container">
                    <h5 class="title-info mb-0 ml-0">Đơn mua</h5>
                </div>
            </div>
        </div>
        <p-tabView styleClass="tabview-jvf" [(activeIndex)]="activeIndex" (onChange)="changeTab($event)">
            <p-tabPanel [header]="'all'">
                <ng-template pTemplate="header">
                    <span> Tất cả </span>
                </ng-template>
                    <app-purchase-detail
                        *ngIf="tabViewActive.all && !isLoading" 
                        [contentHeight]="contentTabHeight">
                    </app-purchase-detail>
            </p-tabPanel>
            <p-tabPanel [header]="'new'">
                <ng-template pTemplate="header">
                    <span> Vận chuyển </span>
                </ng-template>
                    <app-purchase-detail
                        *ngIf="tabViewActive.new && !isLoading" 
                        [type]="1"
                        [contentHeight]="contentTabHeight">
                    </app-purchase-detail>
            </p-tabPanel>
            <p-tabPanel [header]="'processing'">
                <ng-template pTemplate="header">
                    <span> Đang giao </span>
                </ng-template>
                    <app-purchase-detail
                    *ngIf="tabViewActive.processing && !isLoading" 
                        [type]="2"
                        [contentHeight]="contentTabHeight">
                    </app-purchase-detail>
            </p-tabPanel>
            <p-tabPanel [header]="'success'">
                <ng-template pTemplate="header">
                    <span> Hoàn thành </span>
                </ng-template>
                    <app-purchase-detail
                    *ngIf="tabViewActive.success && !isLoading" 
                        [type]="3"
                        [contentHeight]="contentTabHeight">
                    </app-purchase-detail>
            </p-tabPanel>
            <p-tabPanel [header]="'cancel'">
                <ng-template pTemplate="header">
                    <span> Đã hủy </span>
                </ng-template>
                    <app-purchase-detail
                        *ngIf="tabViewActive.cancel && !isLoading" 
                        [type]="4"
                        [contentHeight]="contentTabHeight">
                    </app-purchase-detail>
            </p-tabPanel>
        </p-tabView>
    </div>
</wrapper-page-list>

