<div class="card">
    <div>
        <h3>Hồ sơ của tôi</h3>
        <span>Quản lý thông tin hồ sơ để bảo mật tài khoản</span>
    </div>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()" >
        <div class="tab-info" [style.height.px]="contentHeight" >
            <div class="text-right">
                <p-button 
                    styleClass="custom-button" 
                    label="{{ (isEdit ? 'SHARE.UPDATE' : 'SHARE.EDIT') | translate }}" 
                    [icon]="!isEdit ? 'pi pi-pencil' : 'pi pi-save'" 
                    (click)="isEdit=!isEdit; changeEdit()">
                </p-button>
            </div>    
            <div class="form-detail">
                <div class="flex info-line {{ !isEdit || 'unset-border' }}" *ngFor="let col of cols">
                    <div class="title-{{currentLang}}">
                        <label> {{ col.labelKeyLang  }}: </label>
                    </div>
                    <div class="content">
                        <span *ngIf="!isEdit"> {{ postForm?.value[col.controlName] }} </span>
                        <input [readonly]="col?.type !== 'input'"  *ngIf="isEdit" 
                            [formControlName]="col.controlName" 
                            pInputText type="text"
                            [class.readonly]="col?.type !== 'input'"
                            />
                    </div>
                </div>
            </div>
        </div>
     
    </form>
</div>
