::ng-deep {
    .custom-border-table {
        .p-datatable-table {
            table-layout: fixed !important;
            width: 100%;
            tbody {
                tr {
                    td {
                        border-bottom-width: 1px !important;
                    }
                    
                }
            }
        }
    }

    .p-timeline-event-content{
        flex: 5 !important;
    }

    .customer-info {
        border-bottom: 1px solid #cfcfcf
    }
    .user-container {
        display: flex;
        align-items: center;
        border-radius: 4px;
      }
      
      .user-icon {
        width: 20px;
        height: 20px;
        background-color: #007bff;
        color: #ffffff;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        margin-right: 10px;
        text-transform: uppercase;
      }
      
      .user-info {
        font-weight: bold;
      }
    
}

.b-custom-price{
    font-size: 16px;
    font-weight: 600;
    color: #232154;
}