<wrapper-page-list (_countScrollHeight)="contentTabHeight=$event">
    <p-toast></p-toast>
    <div class="card" #pageEl>
        <div class="grid b-header mb-0">
            <div class="card col-12 md:col-12 b-actions pb-0">
                <div class="flex justify-content-between flex-wrap card-container purple-container">
                    <h3 class="title-info mb-0 ml-0"> {{ itemDetail?.fullName || 'None' }} {{ contentTabHeight }} </h3>
                </div>
            </div>
        </div>
        <p-tabView styleClass="tabview-jvf" [(activeIndex)]="activeIndex" (onChange)="changeTab($event)">
            <p-tabPanel [header]="'thongTinChung'">
                <ng-template pTemplate="header">
                    <span> {{ 'BUSINESS_CUSTOMER.PAGE_DETAIL_TAB_INFO' | translate }} </span>
                </ng-template>
                    <app-business-customer-add
                        *ngIf="!isLoading" 
                        [itemDetail]="itemDetail"
                        [contentHeight]="contentTabHeight">
                    </app-business-customer-add>
            </p-tabPanel>
            <p-tabPanel *ngIf="isGranted([PermissionConst.BusinessCustomeAccountMenu])" [header]="'taiKhoan'">
                <ng-template pTemplate="header">
                    <span> {{ 'BUSINESS_CUSTOMER.PAGE_DETAIL_TAB_ACCOUNT' | translate }} </span>
                </ng-template>
                <div class="wrapper-tabview-list">
                    <app-user-manager
                        *ngIf="tabViewActive.taiKhoan && !isLoading" 
                        [businessCustomerId]="businessCustomerId"
                        [contentHeight]="contentTabHeight"
                        [isComponentChild]="true">
                    </app-user-manager>
                </div>
            </p-tabPanel>
            <p-tabPanel *ngIf="isGranted([PermissionConst.ProductPriceMenu])" [header]="'bangGia'">
                <ng-template pTemplate="header">
                    <span> {{ 'BUSINESS_CUSTOMER.PAGE_DETAIL_TAB_PRICE_SETTING' | translate }} </span>
                </ng-template>
                <div class="wrapper-tabview-list">
                    <app-product-price
                        *ngIf="tabViewActive.bangGia && !isLoading" 
                        [businessCustomerId]="businessCustomerId"
                        [contentHeight]="contentTabHeight">
                    </app-product-price>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</wrapper-page-list>

