
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="grid p-fluid p-formgrid">
        <div class="field col-6 mb-0">
            <label htmlFor="date">{{ 'CALENDAR_CONFIGURATION.COLUMN_IS_WORKING' | translate }}<span class="required-field"> * </span></label>
            <p-dropdown 
                appendTo="body" formControlName="isDayOff" [options]="YesNoConst.list" optionLabel="name" optionValue="code" 
                styleClass="w-full" [autoDisplayFirst]="false">
            </p-dropdown>
        </div>
        <div class="field col-6 mb-0">
            <label htmlFor="date">{{ 'CALENDAR_CONFIGURATION.COLUMN_TIME' | translate }}<span class="required-field"> * </span></label>
            <p-calendar formControlName="rangeDates"
                class="" placeholder="dd/mm/yyyy -> dd/mm/yyyy" appendTo="body" dateFormat="dd/mm/yy" 
                selectionMode="range" [readonlyInput]="true" 
                [showIcon]="true" 
                locale="vi">
            </p-calendar>
        </div>
       
        <div class="field col-12 mb-0">
            <label htmlFor="note">{{ 'CALENDAR_CONFIGURATION.COLUMN_NOTE' | translate }}<span class="required-field"> * </span></label>
            <textarea formControlName="note" rows="3" pInputTextarea></textarea>   
        </div>
    </div>
    
    <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
        <button type="reset" pButton pRipple label="{{ 'SHARE.CANCEL' | translate }}" icon="pi pi-times"
            class="p-button-text p-confirm-dialog-reject" (click)="ref.close()"></button>
        <button type="submit" pButton pRipple label="{{ 'SHARE.SAVE' | translate }}" icon="pi pi-save"></button>
    </div>
</form>