<div>
    <div class="grid p-fluid">
        <div class="col-12 md:col-12">
            <div class="field" style="text-align: center;">
                <p-image
                    [src]="(data?.icon)" 
                    [imageStyle]="{'border-radius':'8px','max-height':'240px', 'width': '8%'}" 
                    >
                </p-image>      
            </div>
        </div>
        <div class="col-12 md:col-12">
            <div class="field">
                <label class="label-title"> {{data.title }} </label>         
            </div>
        </div>
    </div>
    <div class="p-dialog-footer custom-dialog-footer">
        <button pButton pRipple label="{{ 'COMMON.CANCEL' | translate }}" icon="pi pi-times" class="p-button-text p-confirm-dialog-reject" (click)="cancel()"></button>
        <button pButton pRipple label="{{ 'SHARE.SAVE' | translate }}" icon="pi pi-check" class="p-button-text p-confirm-dialog-approve" [disabled]="submitted" (click)="accept()"></button>
    </div>
</div>
