<div class="col-12 md:col-12">
    <form [formGroup]="postForm">
        <div class="grid p-fluid">
            <div class="field col-12">
                <label htmlFor="trackingCode">{{ 'ORDER.TRACKING_CODE' | translate }}  </label>
                <input placeholder="{{ 'ORDER.INPUT_TRACKING_CODE' | translate }}" formControlName="trackingCode" pInputText type="text"/>
            </div>
            <div class="field col-12">
                <label htmlFor="shippingProviderId">{{ 'ORDER.SHIPPING_PROVIDER' | translate }}  </label>
                <p-dropdown appendTo="body" formControlName="shippingProviderId" [options]="shippingProviders"
                    placeholder="{{ 'ORDER.CHOOSE_SHIPPING_PROVIDER' | translate }}" optionLabel="labelName" optionValue="id"
                    styleClass="w-full">
                </p-dropdown>
            </div>
            <div class="field col-6">
                <label htmlFor="shippingProviderId">{{ 'ORDER.ESTIMATED_DELIVERY_DATE' | translate }}  </label>
                <p-calendar 
                    dateFormat="dd/mm/yy" class="b-disabled" locale="vi" appendTo="body" 
                    utc="true" formControlName="estimatedShippingDate" [showTime]="true" [showIcon]="true">
                </p-calendar>
            </div>
        </div>
        <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
            <button type="reset" pButton pRipple label="{{ 'COMMON.CANCEL' | translate }}" icon="pi pi-times" class="p-button-text p-confirm-dialog-reject" (click)="cancel()"></button>
            <button type="reset" pButton pRipple label="{{ 'COMMON.SAVE' | translate }}" icon="pi pi-save" (click)="onSubmit()"></button>
        </div>
    </form>
</div>   


