::ng-deep {
    .p-custom-select-button {
        .p-selectbutton {
            .p-button {
                &.p-highlight {
                    background: white;
                    border: 1px solid #5346E0 !important;
                    color: #5346E0;
                    font-weight: 500;
                }
                &:focus {
                    box-shadow: none;
                }
                & {
                    background: white;
                    border: 1px solid #ced4da;
                    color: black;
                    transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;   
                }
                &:not(.p-disabled):not(.p-highlight):hover {
                    border: 1px solid #5346E0;
                    background: white;
                    color: black;
                    font-weight: bold;
                    opacity: 0.7;
                }
            }
        } 
    }
    
    .b-width-100 {
        width: 100% !important;
    }

    .custom-border-table {
        .p-datatable-table {
            table-layout: fixed !important;
            width: 100%;
            tbody {
                tr {
                    td {
                        border-bottom-width: 1px !important;
                    }
                    
                }
            }
        }
    }
    
    .p-timeline-event-content{
        flex: 5 !important;
    }
    .custom-cell-edit{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.field-flex {
    display: flex;
    align-items: center;

    label {
        margin-right: 10px;
        width: 150px;
    }

    p-dropdown{
        width: 100%;
    }
}
  
.button-delete {
    margin-top: 1.75rem;
}

.b-icon-trash {
    color: red; 
    font-weight: 600;
    cursor: pointer;
}

.custom-toast .ui-toast {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }

.upload-file-form {
  padding-top: 0.5rem;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0; 
    bottom: 0;
    padding: 0 20px;
    height: 50px;
    // padding-bottom: 20px;
    // right: calc(18px + 1.5rem + 0.5rem);
    z-index: 100;
    background: #fff;
}

.b-icon-trash {
    color: red; 
    font-weight: 600;
    cursor: pointer;
}

.b-custom-width{
    width: 400px;
}

.price{
    font-weight: 600;
    font-size: 16px !important;
}

.price-detail{
    font-weight: 700;
    font-size: 16px !important;
}

.custom-edit{
    color: #5346E0;
    text-decoration: underline;
    cursor: pointer;
}

.disabled-textarea {
    pointer-events: none;
    user-select: none;
    background-color: #f8f8f8 !important; /* Màu nền để hiển thị trạng thái vô hiệu hóa */
}

.b-custom-price{
    font-size: 16px;
    font-weight: 600;
    color: #232154;
}

///
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    color: #5346E0;
  }
  
  .section-heading {
    margin-bottom: 20px;
    color: #5346E0;
  }
  
  .payment-methods {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .payment-method {
    flex-basis: 33.33%;
    padding: 10px;
  }
  
  .radio-input {
    display: none;
  }
  
  .radio-label {
    display: block;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .radio-label:hover {
    background-color: #ebebeb;
  }
  
  .radio-label::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid  #5346E0;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
  }
  
  .radio-input:checked + .radio-label::before {
    background-color: #007bff;
  }
  
  .payment-details {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .payment-form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .cash-message {
    margin: 0;
    color: #007bff;
    font-weight: bold;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color:  #5346E0;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color:  #5346E0;
  }
  