<app-loading-page *ngIf="isLoading"></app-loading-page>
<p-toast></p-toast>
<p-confirmDialog header="{{ 'CONFIRM.TITLE' | translate }}" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="">
  <form [formGroup]="postForm">
    <div class="card">
      <div class="flex justify-content-between flex-wrap card-container purple-container header-left">
        <h4 class="title-info mb-5" >{{header}}</h4>
        <div>

        <p-button 
          styleClass="p-button-sm custom-button border-600 b-button-back ml-3"
          routerLink="/order-management/order" [label]="'SHARE.BACK' | translate"
          icon="pi pi-chevron-left" class="b-0">
        </p-button>
        
      </div>
    </div>
      <div class="p-fluid p-formgrid grid">
        <div class="field mb-1 col-5">
          <label htmlFor="deliveryAddressId">{{ 'ORDER.DELIVERY_ADDRESS' | translate }}</label>
          <textarea class="b-disabled" rows="2" cols="30" [value]="deliveryAddressValue" [disabled]="true" pInputTextarea name="deliveryAddress"></textarea>
          <p (click)="selectDeliveryAddress()" class="flex justify-content-end custom-edit">{{ 'SHARE.EDIT' | translate }}</p>

        </div>
        <div class="field mb-1 col-7">
          <label htmlFor="invoiceAddress">{{ 'ORDER.INVOICE_ADDRESS' | translate }}  </label>
          <textarea class="b-disabled {{isEdit ? '': 'disabled-textarea'}} " rows="2" cols="30" formControlName="invoiceAddress" pInputTextarea name="invoiceAddress"></textarea>
          <p *ngIf="!isEdit" (click)="setIsEdit()" class="flex justify-content-end custom-edit">{{ 'SHARE.EDIT' | translate }}</p>
          <p *ngIf="isEdit" (click)="setIsEdit()" class="flex justify-content-end custom-edit">{{ 'SHARE.UPDATE' | translate }}</p>
        </div>
      </div>
    </div> 
  </form>
  
    <div class="card mt-3 pb-5">
      <div class=" p-fluid p-formgrid grid ">
        <p-table
          #orderProductTable 
          [value]="orderDetails" [columns]="cols"
          [loading]="isLoading" [rowHover]="true" [showCurrentPageReport]="true" [paginator]="false" 
          responsiveLayout="scroll" dataKey="code"
          [resizableColumns]="false" [scrollable]="true" styleClass="custom-table custom-border-table b-width-100">
          <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left b-border-frozen-right"> {{ 'SHARE.ID' | translate  }} </th>
                <th style="min-width: 16rem;"> {{ 'ORDER.PRODUCT_NAME' | translate  }} </th>
                <th style="max-width: 12rem; min-width: 12rem;"> {{ 'ORDER.PRODUCT_CATEGORY' | translate  }} </th>
                <th style="max-width: 7rem; min-width: 7rem;"> {{ 'ORDER.PRODUCT_UNIT' | translate  }} </th>
                <th style="max-width: 12rem; min-width: 12rem;"> {{ 'ORDER.PRODUCT_UNIT_PRICE' | translate  }} </th>
                <th style="max-width: 7rem; min-width: 7rem;"> {{ 'ORDER.PRODUCT_QUANTITY' | translate  }} </th>
                <th style="max-width: 12rem; min-width: 12rem;" class="justify-content-end"> {{ 'ORDER.PRODUCT_PRICE' | translate  }} </th>
                <th style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn class="b-border-frozen-right b-border-frozen-left" alignFrozen="right" [frozen]="true"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-columns="columns" let-editing="editing">
              <tr>
                  <td style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left b-border-frozen-right"> {{ row.id }} </td>
                  <td style="min-width: 16rem;" > {{ row.name }} </td>
                  <td style="max-width: 12rem; min-width: 12rem;" > {{ row.category }} </td>
                  <td style="max-width: 7rem; min-width: 7rem;" > {{ row.calculationUnitName }} </td>
                  <td style="max-width: 12rem; min-width: 12rem;" class="justify-content-end">
                   {{ formatCurrency(row.unitPrice) }}
                  </td>
                  <td style="max-width: 7rem; min-width: 7rem;">
                    {{ formatCurrency(row.quantity) }}
                  </td>
                  <td style="max-width: 12rem; min-width: 12rem;" class="justify-content-end"> {{ formatCurrency(row.price) }} </td>
                  <td style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-left b-border-frozen-right b-table-actions">
                  </td>
              </tr>
          </ng-template>
        </p-table>
        <!--  -->
        <div class="field mb-1 col-5 mt-3">
          <label htmlFor="description">{{ 'ORDER.DESCRIPTION' | translate }}  </label>
          <textarea rows="4" cols="30" [(ngModel)]="description" pInputTextarea name="description"></textarea>

        </div>


        <div class="field mb-1 col-7 mt-3">
          <div class="flex b-custom-price justify-content-end" style="margin-right: 5rem;">
            <span>{{ 'ORDER.TOTAL_PRICE' | translate }}: {{formatCurrency(totalPrice)}}</span>
          </div>
        </div>
     
        <div class="field mb-1 col-5 mt-3">
          <label htmlFor="description">Lựa chọn phương thức thanh toán </label>
          <div class="payment-methods">
            <div class="payment-method" *ngFor="let method of paymentMethods">
              <input (click)="submitPayment(method.id)" type="radio" id="{{method.id}}" class="radio-input" name="paymentMethod" [value]="method.id" [(ngModel)]="selectedPaymentMethod" />
              <label for="{{method.id}}" class="radio-label">{{method.name}}</label>
            </div>
          </div>
        </div>
        <div class="qr-code">
          <img height="300" width="300" [src]="qrCode"/>
        </div>
      </div>
    </div>
    <div class="footer mt-3">
      <div class="grid grid-nogutter justify-content-end mr-3 mt-2">
        <button type="submit" pButton pRipple label="{{ orderId ? ('SHARE.UPDATE' | translate) : ('ORDER.SAVE' | translate) }}" icon="pi pi-save" (click)="onSubmit()"></button>
      </div>
    </div>

</div>