
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <app-loading-page *ngIf="isLoading"></app-loading-page>
    <div formArrayName="items" class="grid p-fluid p-formgrid grid">
        <div class="col-12">
            <div *ngFor="let item of items.controls; let i=index" [formGroupName]="i" class="pt-0 pb-0 mb-0 grid">
            <div class="field col-8 mb-0">
                <label for="productId{{i}}">{{ 'PRODUCT_PRICE.PRODUCT' | translate }}<span class="required-field"> * </span></label>
                <p-dropdown 
                    appendTo="body" formControlName="productId" [options]="products" class="b-disabled"
                    placeholder="Choose Product" optionLabel="name" optionValue="id" styleClass="w-full" [autoDisplayFirst]="false">
                </p-dropdown>
            </div>
            <div class="field col-4 mb-0">
                <label for="price{{i}}">{{ 'PRODUCT_PRICE.PRICE' | translate }}<span class="required-field"> * </span></label>
                <p-inputNumber mode="decimal" locale="de-DE" formControlName="price" id="price{{i}}"></p-inputNumber>
            </div>
            </div>
        </div>
    </div>
    <button *ngIf="!productPrices" type="button" pButton (click)="addItem()" label="Add Item"></button>
    <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
        <button pButton pRipple label="{{ 'COMMON.CANCEL' | translate }}" icon="pi pi-times" class="p-button-text p-confirm-dialog-reject" (click)="cancel()"></button>
        <button type="submit" pButton pRipple label="{{ 'COMMON.SAVE' | translate }}" icon="pi pi-save"></button>
    </div>
</form>
