<div class="grid ml-0 mr-0 mt-0">
    <div class="col-12">
        <div class="card b-list mt-0 pt-0">
            <div class="p-fluid p-formgrid grid b-header">
                <div class="col-12 md:col-5 b-title">
                    <h4 style="display:inline">Báo cáo thống kê</h4>
                </div>
            </div>
            <div class="wrapper-export">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-6 col-offset-3"> 
                        <div class="field">
                            <label for="startDate"> Loại hình báo cáo (<span class="required-field"> * </span>)</label>
                            <p-dropdown 
                                id="dropdownStatus" [options]="reports"
                                optionLabel="name" optionValue="type" placeholder="Chọn loại hình báo cáo"
                                [(ngModel)]="type">
                            </p-dropdown>
                        </div>
                    </div>
                </div> 
                <div class="grid p-fluid">
                    <div class="col-12 md:col-3 col-offset-3">
                        <div class="field">
                            <label for="startDate"> Thời gian bắt đầu (<span class="required-field"> * </span>)</label>
                            <form-calendar
                                [inputId]="startDate"
                                [(value)]="startDate"
                                [maxDate]="endDate"
                                [isParam]="true">
                            </form-calendar>
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="field">
                            <label for="endDate"> Thời gian kết thúc (<span class="required-field"> * </span>)</label>
                            <form-calendar
                                [inputId]="endDate"
                                [(value)]="endDate"
                                [minDate]="startDate"
                                [isParam]="true">
                            </form-calendar>
                        </div>
                    </div>
                </div> 
                <div class="grid p-fluid">
                    <div class="col-12 md:col-6 col-offset-3">
                        <button
                            [disabled]="isDownload"  pButton pRipple label="Xuất file Excel" icon="pi pi-file-o" class="p-button-success mr-2" 
                            (click)="onAccept()">
                        </button>
                        <p-progressBar *ngIf="isDownload" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>