<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
	<p-dialog [(visible)]="modalDialog" [header]="role.id ? labels['ROLE_MANAGER.TITLE_ROLE_UPDATE'] : labels['ROLE_MANAGER.TITLE_ROLE_ADD']" [style]="{width: '450px', 'max-height': '100%', height: '100%'}" selectable="false" (onHide)="hideDialog()" [modal]="true" class="p-fluid" styleClass="b-permission-dialog" position="right" [draggable]="false" [resizable]="false">
		<div class="grid m-2">
			<div class="col-12 md:col-12">
				<div class="field mb-0">
					<label htmlFor="name">{{ 'ROLE_MANAGER.ROLE_NAME' | translate }}<span class="required-field"> * </span></label>
					<input formControlName="name" pInputText type="text"/>   
				</div>
				<div class="field mb-0 mt-3">
					<label htmlFor="userType">{{ 'ROLE_MANAGER.USER_TYPE' | translate }}<span class="required-field"> * </span></label>
					<p-dropdown 
                    appendTo="body" formControlName="userType" [options]="UserConst.types" placeholder="Choose User Type"
                    optionLabel="name" optionValue="code" styleClass="w-full" [autoDisplayFirst]="false">
                	</p-dropdown>
				</div>
				<div class="field mb-0 mt-3">
					<label htmlFor="description">{{ 'ROLE_MANAGER.DESCRIPTION' | translate }}</label>
					<textarea rows="3" pInputTextarea formControlName="description" [autoResize]="true"></textarea>
				</div>
			</div>
		</div>
		<!--  -->
		<ng-template pTemplate="content">
			<div class="card {{ (isLoading && submitted) ? 'b-loading' : '' }}">
				<app-loading-page *ngIf="isLoading"></app-loading-page>
				<p-tree *ngIf="!isLoading || (isLoading && submitted)"
					[value]="permissionsTree" selectionMode="checkbox" styleClass="permission-tree pt-0"
					[(selection)]="selecteds" 
					(onNodeSelect)="selectedNote($event.node)"
					(onNodeUnselect)="unSelectedNote($event.node)">
				</p-tree>
			</div>
		</ng-template>
		<ng-template pTemplate="footer">
			<button pButton pRipple label="{{ 'COMMON.CANCEL' | translate }}" icon="pi pi-times" class="p-button-text p-confirm-dialog-reject" (click)="hideDialog()"></button>
			<button type="submit" pButton pRipple label="{{ 'COMMON.SAVE' | translate }}" icon="pi pi-save"></button>
		</ng-template>
	</p-dialog>
</form>