﻿
<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">
   
    <div class="login-content">
      
        <div class="night-switch flex justify-content-end flex-wrap">
            <p-dropdown class="p-input-icon-right mt-3" [options]="ConfigLanguage.LanguageList" [(ngModel)]="selectedCountry" optionLabel="name" (onChange)="switchLanguage($event.value)">
                <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
                        <img [src]="selectedCountry.img" [class]="'mr-3 flag flag-' + selectedCountry.code.toLowerCase()" style="width: 18px"/>
                        <div>{{ selectedCountry.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <img [src]="country.img" [class]="'mr-3 flag flag-' + country.code.toLowerCase()" style="width: 18px"/>
                        <div>{{ country.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <p-button styleClass="dark-switch"  icon="pi pi-circle-on" (click)="dark = true"></p-button>
            <p-button styleClass="light-switch"  icon="pi pi-circle-off" (click)="dark = false"></p-button>
        </div>
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <img src="assets/layout/images/logo-mirage@2x.png" alt="mirage-layout" />
                </div>
                <h1>{{ 'LOGIN.TEXT_HEADER_H1' | translate }}</h1>
                <p>{{ 'LOGIN.TEXT_HEADER_P' | translate }}</p>
                <div class="p-fluid p-formgrid grid form-input">
                        <div class="field col-12">
                            <label for="username" class="buttons">{{ 'LOGIN.COLUMN_ACCOUNT' | translate }}</label>
                            <input [(ngModel)]="authService.authenticateModel.username" (keyup.enter)="login()" #username id="username" type="text" placeholder="{{ 'LOGIN.COLUMN_ACCOUNT' | translate }}" pInputText  >
                        </div>
                        <div class="field col-12">
                            <label class="buttons">{{ 'LOGIN.COLUMN_PASSWORD' | translate }}</label>
                            <p-password [feedback]="false" id="password" (keyup.enter)="login()"  [(ngModel)]="authService.authenticateModel.password" placeholder="{{ 'LOGIN.COLUMN_PASSWORD' | translate }}"></p-password>
                        </div>

                   
                    <div class="col-3"></div>
                    <div class="col-6">
                        <p-button (click)="login()" label="{{ 'LOGIN.BUTTON_LOGIN' | translate }}" styleClass="p-button-rounded p-button-secondary" [disabled]="submitting"></p-button>
                    </div>
                    <div class="col-12">
                        <a href="#" class="text-black-alpha-60">{{ 'LOGIN.BUTTON_FORGOT_PASSWORD' | translate }}</a>
                    </div>
                    <div class="col-12">
                        <a (click)="router.navigate(['/account/register'])" class="text-black-alpha-60">Chưa có tài khoản? <span class="text-black-alpha-90">Đăng ký</span></a>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="desert"></div>
    </div>
</div>
