.email-inbox {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    overflow: hidden;
  
    .email-list {
      flex: 1;
      display: flex;
      flex-direction: column;
  
      .email-item {
        padding: 10px;
        border-bottom: 1px solid #e4e4e4;
        cursor: pointer;
        transition: background-color 0.2s, box-shadow 0.3s;
  
        &:last-child {
          border-bottom: none;
        }
  
        &.read {
          background-color: #f9f9f9;
          font-weight: normal;
        }
  
        &.unread {
          background-color: #e8f0fe;
          font-weight: bold;
        }
  
        .email-sender {
          font-weight: bold;
        }
  
        .email-subject {
          color: #777;
        }
  
        &:hover {
          background-color: #f5f5f5;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
  
        .button {
          width: 30px;
          height: 30px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgb(44, 44, 44);
          border-radius: 50%;
          cursor: pointer;
          transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
          border: none;
  
          .bell {
            width: 12px;
          }
  
          .bell path {
            fill: white;
          }
  
          /* Move hover styles to email-item level */
          /* &:hover {
            background-color: rgb(56, 56, 56);
          }
  
          &:hover .bell {
            animation: bellRing 0.9s both;
          } */
  
          @keyframes bellRing {
            0%, 100% {
              transform-origin: top;
            }
  
            15% {
              transform: rotateZ(10deg);
            }
  
            30% {
              transform: rotateZ(-10deg);
            }
  
            45% {
              transform: rotateZ(5deg);
            }
  
            60% {
              transform: rotateZ(-5deg);
            }
  
            75% {
              transform: rotateZ(2deg);
            }
          }
  
          &:active {
            transform: scale(0.8);
          }
        }
  
        /* Apply hover styles to the bell button when hovering over the email item */
        &:hover .button {
          background-color: rgb(56, 56, 56);
        }
  
        &:hover .button .bell {
          animation: bellRing 0.9s both;
        }
      }
    }
  }
  