<app-loading-page *ngIf="isLoading"></app-loading-page>
<app-restaurant-detail *ngIf="userLogin.user_type === UserConst.RESTAURANT" [restaurantId]="userLogin.restaurent_id"></app-restaurant-detail>
<app-business-customer-detail *ngIf="userLogin.user_type === UserConst.BUSINESS_CUSTOMER" [businessCustomerId]="userLogin.business_customer_id"></app-business-customer-detail>