<div class="col-12 md:col-12">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="card">
            <div class="p-fluid p-formgrid grid ">
              
                <div class="field col-6 mb-0">
                    <label htmlFor="receiver">{{ 'DELIVERY_ADDRESS.COLUMN_RECEIVER' | translate }}<span class="required-field"> * </span></label>
                    <input formControlName="receiver" pInputText type="text"/>

                </div>
                <div class="field col-6 mb-0">
                    <label htmlFor="phone">{{ 'DELIVERY_ADDRESS.COLUMN_PHONE' | translate }}<span class="required-field"> * </span></label>
                    <input formControlName="phone" pInputText type="text"/>
                 
                </div>
                <div class="field col-12 mb-0 mt-3">
                    <label htmlFor="address">{{ 'DELIVERY_ADDRESS.COLUMN_ADDRESS' | translate }}<span class="required-field"> * </span></label>
                    <textarea formControlName="address" rows="3" pInputTextarea></textarea>
                </div>
                <div class="col-12 mb-3">
                    <p-checkbox [disabled]="inputData?.isDefault" formControlName="isDefault" [binary]="true"></p-checkbox>
                    <label  class="ml-1" for="isDefault">{{ 'DELIVERY_ADDRESS.CHECKBOX_DEFAULT_ADDRESS' | translate }}</label>
                </div>
                
               
            </div>
        </div>

        <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
            <button type="reset" pButton pRipple label="{{ 'SHARE.CANCEL' | translate }}" icon="pi pi-times"
                class="p-button-text p-confirm-dialog-reject" (click)="ref.close()"></button>
            <button type="submit" pButton pRipple label="{{ 'SHARE.SAVE' | translate }}" icon="pi pi-save"></button>
        </div>
    </form>
</div>