<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="grid p-fluid p-formgrid grid">
        <div class="field col-12 mb-0">
            <label htmlFor="title">{{ 'DOCUMENT.COLUMN_TITLE' | translate }}<span class="required-field"> * </span></label>
            <input formControlName="title" pInputText type="text" />
        </div>
        <div class="field col-12 md:col-8">
            <div class="field mb-0">
                <label htmlFor="fileUrl"> {{ 'DOCUMENT.COLUMN_FILE_URL' | translate }} <span class="required-field"> * </span></label>
                <input type="text" id="fileUrl" name="fileUrl" disabled pInputText formControlName="fileUrl" class="b-disabled"/>
            </div>
        </div>
        <div class="col-12 md:col-4">
            <div class="field mb-0 upload-file-form">
                <label htmlFor=""> </label>
                <p-fileUpload 
                    [customUpload]="true" class="custom-file-upload w-100"
                    name="demo[]" accept=".pdf,.doc,.docx" 
                    chooseIcon="pi pi-cloud-upload" 
                    (uploadHandler)="myUploader($event)"
                    [auto]="true"
                    chooseLabel="{{ 'DOCUMENT.BUTTON_UPLOAD' | translate }}">
                </p-fileUpload>
            </div>
        </div>
        <div class="field col-12 mb-0">
            <label htmlFor="sendType" class="pd-1"> {{ 'DOCUMENT.COLUMN_SEND_TYPE' | translate }}</label>
            <p-dropdown (onChange)="onChangeType()" [disabled]="inputData"
                appendTo="body"  styleClass="w-full" formControlName="sendType"
                [options]="DocumentConst.types" optionValue="value" 
                [showClear]="true" [autoDisplayFirst]="false" optionLabel="name"> 
                <ng-template pTemplate="selectedItem">
                    {{ DocumentConst.getAttribution(postForm?.value?.sendType).name | translate}}
                </ng-template>
                <ng-template let-option pTemplate="item">
                    <span>{{ option.name | translate}}</span>
                </ng-template>
            </p-dropdown>
            
        </div>
        <div class="field col-12 mb-0" *ngIf="(postForm?.value?.sendType === DocumentConst.SOME_CUSTOMER )">
            <label htmlFor="businessCustomerIds">{{ 'DOCUMENT.COLUMN_BUSINESS_CUSTOMER' | translate
                }}<span class="required-field"  *ngIf="postForm?.value?.sendType === DocumentConst.SOME_CUSTOMER"> * </span></label>
            <p-multiSelect appendTo="body" formControlName="businessCustomerIds"
                [options]="businessCustomers"
                placeholder="{{ 'DOCUMENT.CHOOSE_BUSINESS' | translate }}" optionLabel="labelName"
                optionValue="id" styleClass="w-full">
            </p-multiSelect>
        </div>
        
    </div>
    <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
        <button type="reset" pButton pRipple label="{{ 'SHARE.CANCEL' | translate }}" icon="pi pi-times"
            class="p-button-text p-confirm-dialog-reject" (click)="ref.close()"></button>
        <button type="submit" pButton pRipple label="{{ 'SHARE.SAVE' | translate }}" icon="pi pi-save"></button>
    </div>
</form>