.header-field {
    // width: 66rem;
}
.create-btn-custom {
    // margin-left: -0.5rem;
}

.cursor-custom {
    cursor: no-drop;
}

.RnMqRZ {
    border-bottom: 1px solid rgba(0,0,0,.09);
    background: #fff;
    display: flex;
}

.OIBd-J {
    padding: 18px 0 20px;
    border-top: 1px solid #efefef;
}

._70j3aj {
    min-width: 0;
    width: 100%;
}

._7lC5y1 {
    margin-bottom: 4px;
}

.fVHv1Z {
    justify-content: space-between;
}
.DikMLj, .fVHv1Z, .IsnjAd, .oSiOlj {
    display: flex;
}

.XBSydm {
    margin-right: 8px;
}

.DikMLj {
    flex-grow: 1;
}

.Tv2wKj {
    color: rgba(0,0,0,.87);
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.uBRQwt {
    font-weight: 500;
    min-width: 0;
}
.uBRQwt {
    display: inline-flex;
}
.IsnjAd, .uBRQwt {
    align-items: center;
}

.YD3W3V {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.xbIya3 {
    border-left: .5px solid rgba(0,0,0,.26);
    margin: 0 8px;
}

._9Gtqqd, .L8KYK3 {
    font-size: 1rem;
    line-height: 1.25rem;
}

// .L8KYK3 {
//     color: rgba(0,0,0,.54);
// }
.Ayh0hN {
    white-space: nowrap;
}

.oSiOlj {
    flex-basis: 40px;
}
.oSiOlj {
    justify-content: flex-end;
}

.mgW0lg, .tXBaRL {
    white-space: nowrap;
}

.tXBaRL {
    border: 0;
    background: none;
    outline: none;
    padding: 4px;
    color: #6C63F0;
    border-bottom: 2px solid #fff;
}

.tXBaRL:hover {
    border-bottom: 2px solid #6C63F0;
    cursor: pointer;
}

.btn-delete:hover {
    border-bottom: 2px solid #ee4d2d;
    cursor: pointer;
}

.btn-delete {
    border: 0;
    background: none;
    outline: none;
    padding: 4px;
    color: #ee4d2d;
    border-bottom: 2px solid #fff;
}

._7lC5y1 {
    margin-bottom: 4px;
}
.fVHv1Z {
    justify-content: space-between;
}

.XBSydm {
    margin-right: 8px;
}

.DikMLj {
    flex-grow: 1;
}

.tiDOor {
    font-size: 1rem;
    line-height: 1.25rem;
}

.IsnjAd, .uBRQwt {
    align-items: center;
}

.iI3vH9 {
    padding-top: 4px;
}
.oSiOlj {
    flex-basis: 40px;
}
.oSiOlj {
    justify-content: flex-end;
}

.DmXQ31:disabled {
    opacity: .7;
    cursor: not-allowed;
}

.mgW0lg {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 4px 12px;
    height: 28px;
    min-width: 0;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(0,0,0,.26);
    box-shadow: 0 1px 1px rgba(0,0,0,.03);
}
.mgW0lg, .tXBaRL {
    white-space: nowrap;
}
.PEXLbW, .q4sbrS {
    background-color: #fff;
}
.PEXLbW {
    border: 1px solid #ee4d2d;
    color: #ee4d2d;
}
.DmXQ31 {
    align-items: center;
    display: flex;
    justify-content: center;
    outline: none;
    padding: 10px;
    border: 0;
    background: none;
    border-radius: 2px;
    min-width: 140px;
    font-size: 14px;
    cursor: pointer;
}

.TArgaE {
    margin-top: 4px;
}
.TArgaE {
    flex-wrap: wrap;
}
.DikMLj, .fVHv1Z, .IsnjAd, .oSiOlj {
    display: flex;
}
.IsnjAd, .uBRQwt {
    align-items: center;
}

.fZIR8\+:last-child {
    margin-right: 0;
}
.gXV\+gD {
    color: #ee4d2d;
    border-color: #ee4d2d;
}
.fZIR8\+ {
    margin: 0 4px 4px 0;
}
.wIyMUR {
    border-radius: 1px;
    padding: 2px 4px;
    border: .5px solid;
}

button[disabled], html input[disabled] {
    cursor: default;
}
.mgW0lg {
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 4px 12px;
    height: 28px;
    min-width: 0;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(0,0,0,.26);
    box-shadow: 0 1px 1px rgba(0,0,0,.03);
}

.button-custom {
    width: 10rem;
}

::ng-deep .custom-tabview .p-tabview-panels .p-element .p-tabview-panel {
    border: 1px solid gray;
    padding: 20px 0px;
    margin-top: 1.2rem;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.05);
}
