<wrapper-page-list (_countScrollHeight)="scrollHeight=$event">
    <div class="card b-list" #pageEl>
        <div class="p-fluid p-formgrid grid b-header">
            <div class="col-12 md:col-7 b-title">
                <h4 style="display:inline"> {{ 'PRODUCT_CATEGORY.PRODUCT_CATEGORY' | translate }} </h4>
            </div>
            <div class="col-12 md:col-5 b-action">
                <button 
                    *ngIf="isGranted([PermissionConst.ProductCategoryCreate])"
                    (click)="create()" pButton pRipple class="p-button-success mr-2" 
                    icon="pi pi-plus" label="{{ 'PRODUCT_CATEGORY.ADD_PRODUCT_CATEGORY' | translate }}">
                </button>
            </div>
        </div>
        <p-toast></p-toast>
        <p-confirmDialog [style]="{width: '600px' }" [baseZIndex]="10000"></p-confirmDialog>
        <p-table 
            #table 
            [value]="rows" 
            [columns]="cols"
            [loading]="isLoading" [rowHover]="true" [showCurrentPageReport]="true" [paginator]="false" 
            (onPageChange)="setPage($event)" responsiveLayout="scroll" dataKey="code"
            [resizableColumns]="false" [scrollable]="true" 
            [scrollHeight]="scrollHeight+'px'" styleClass="custom-table {{ isRowOdds && 'striped-odd' }}">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
    
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="{{ 'SHARE.SEARCH' | translate }}" [(ngModel)]="keyword"
                                style="min-width: 300px" (keyup)="changeKeyword($event)" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [ngStyle]="{'max-width': !col?.isPin ? col?.width : '', 'min-width': col?.width}" [ngClass]=" col?.class ">
                        {{ col?.header }}
                    </th> 
                    <th style="max-width: 7rem; min-width: 7rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right">{{ 'SYSTEM_MANAGER.STATUS' | translate }}</th>
                    <th style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn class="b-border-frozen-right" alignFrozen="right" [frozen]="true">
                        <i class="pi pi-cog"></i>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" [ngStyle]="{'max-width': !col?.isPin ? col?.width : '', 'min-width': col?.width}" [ngClass]="col?.class">
                        <div [ngClass]="col?.cutText" [title]="row[col?.field]">
                          <ng-container *ngIf="col?.field !== 'avatar'; else avatarTemplate">{{ row[col?.field] }}</ng-container>
                        </div>
                    </td>
                    
                    <ng-template #avatarTemplate>
                    <div [ngClass]="col?.cutText" >
                        <p-image *ngIf="row?.avatar" src="{{baseUrl}}/{{ row?.avatar }}" alt="Image" width="50"></p-image>
                        <p-image *ngIf="!row?.avatar" [src]="imageDefault" alt="Image" width="50"></p-image>
                    </div>
                    </ng-template>
                    <td style="max-width: 7rem; min-width: 7rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right"> 
                        <p-tag 
                            styleClass="p-tag-{{ ActiveDeactiveNumConst.getNameStatus(row.status, language).severity }}" 
                            severity="{{ ActiveDeactiveNumConst.getNameStatus(row.status, language).severity }}" 
                            value="{{ ActiveDeactiveNumConst.getNameStatus(row.status, language).name }}">
                        </p-tag> 
                    </td>
                    <td style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right b-table-actions">
                        <div class="flex">
                            <i class="pi pi-ellipsis-h"  (click)="menu.toggle($event)"></i>
                            <p-menu 
                                #menu [popup]="true"class="button-actions"
                                [model]="listAction[rowIndex]" appendTo="body"
                                >
                            </p-menu>
                        </div>
                    </td>
                </tr>
            </ng-template>
    
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">{{ 'SHARE.EMPTY_MESSAGE' | translate }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7"> {{ 'SHARE.LOADING_BODY' | translate }}</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator 
            [rows]="page.pageSize" 
            [totalRecords]="page.totalItems" 
            [rowsPerPageOptions]="[25, 50, 100, 200]" 
            currentPageReportTemplate="{{ page.totalItems }} {{'SHARE.TOTAL_ITEMS' | translate }}" 
            showCurrentPageReport="true"
            (onPageChange)="setPage($event)">
        </p-paginator>
    </div>
</wrapper-page-list>
