<div class="card">
  <h5>Nội dung</h5>
  <div class="notification-detail ">
      <div class="notification-content">
        <div class="notification-title">{{ selectedNotification?.titleAppContent }}</div>
        <div class="notification-timestamp">{{ selectedNotification?.createdDate | date: 'medium' }}</div>
        <!-- <div class="notification-sender">{{ selectedNotification?.pushAppContentType }}</div> -->
        <!-- <div class="notification-message" [innerHTML]="transformContentToHTML(selectedNotification?.pushAppContent)"></div> -->
        <div class="notification-message" [appMarkdownToHtml]="selectedNotification?.pushAppContent"></div>
      </div>
  </div>
</div>
  