.notification-detail {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  
    .notification-content {
      display: flex;
      flex-direction: column;
  
      .notification-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      .notification-timestamp {
        color: #777;
        margin-bottom: 5px;
      }
  
      .notification-sender {
        color: #555;
        margin-bottom: 5px;
      }
  
      .notification-message {
        line-height: 1.6;
      }
    }
  }
  