<div class="grid">
    <div class="product-detail">
        <div class="product-image">
            <img src="{{AppConsts.remoteServiceBaseUrl}}/{{ product?.image }}" [alt]="product.name">
        </div>
        <div class="product-info">
            <h2 class="product-name">{{product.name}}</h2>
            <p class="product-category">Danh mục: {{product.productCategoryName}}</p>
            <div class="flex align-items-center">
                <i class="pi pi-tag mr-2"></i>
                <span class="font-semibold">{{product.productCategoryName}}</span>
            </div>
            <p class="product-size">Giá: {{formatCurrency(product.defaultPrice)}}</p>
        </div>
    </div>
    <div class="product-description m-3">
        <h3>Description:</h3>
        <p>{{product.description}}</p>
    </div>
</div>