.product-detail {
    display: flex;
  }
  
  .product-image {
    flex: 1;
    margin-right: 20px;
  }
  
  .product-image img {
    width: 100%;
  }
  
  .product-info {
    flex: 2;
  }
  
  .product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-size, .product-category {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .product-description h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-description p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  