.kGMCUd {
  margin-top: 10px;
  margin-bottom: 4px;
  background-color: rgb(255, 255, 255);
}
.bINPSw {
  padding: 8px 16px;
  background-color: rgb(255, 255, 255);
}
.hflHKa {
  display: flex;
  padding: 8px 12px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.gTkmeR {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    padding: 6px 12px;
    color: rgb(56, 56, 61);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer;
}
.hfMLFx {
  width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
//
.brzeIg * {
  letter-spacing: normal;
}
.hvObHG {
  color: rgb(255, 255, 255);
  font-weight: 400;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
.eKShDh .account-label {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  min-width: 120px;
}
.drwdcR {
  display: none;
  border: 1px solid rgb(239, 239, 239);
  background: rgb(255, 255, 255);
  width: auto;
  min-width: 196px;
  z-index: 15;
  list-style: none;
  margin: 0px;
  padding: 10px 0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 12px 0px;
  position: absolute;
  top: 40px;
  left: calc(50% + 10px);
  transform: translateX(-50%);
}
.drwdcR::before {
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent rgb(255, 255, 255);
  border-image: initial;
  margin-left: -9px;
  bottom: 100%;
  left: 50%;
  content: " ";
  height: 0px;
  width: 0px;
  position: absolute;
  pointer-events: none;
}
.kJhcWR {
  display: flex;
  padding: 16px 0px 8px;
  height: auto;
  position: relative;
  z-index: 3;
  -webkit-box-align: center;
  align-items: center;
}
.eKShDh {
  cursor: pointer;
  margin: 0px 0px 0px 16px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 12px;
  position: relative;
  letter-spacing: 0.7px;
  width: 162px;
  padding-top: 3px;
}
.jFDiyI {
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 265px;
  margin: 0px;
  padding: 8px 20px;
  color: rgb(51, 51, 51);
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.eKShDh:hover .toggler {
  display: block;
  margin-top: -0.2rem;
}

.bOqTXJ {
  background: rgb(255, 66, 78);
  height: 10px;
  width: 10px;
  left: 22px;
  top: -2px;
  border-radius: 50%;
  display: inline-block;
  font-weight: 500;
  position: absolute;
  border: 1px solid rgb(255, 255, 255);
}

.jFDiyI .badge {
  color: rgb(255, 255, 255);
  font-size: 9px;
  font-weight: 400;
  border-radius: 11px;
  min-width: 18px;
  display: inline-block;
  height: 12px;
  line-height: 11px;
  vertical-align: text-top;
  text-align: center;
  margin: 0px 3px;
  padding: 1px 3px;
  background-color: rgb(255, 51, 35);
}
.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.jFDiyI .content {
  width: 100%;
}
.jFDiyI:hover {
  background-color: rgb(245, 244, 245);
  color: rgb(0, 0, 0);
}

//
.iJfCbp {
  display: flex;
  flex-flow: wrap;
  background-color: rgb(245, 245, 250);
}

.iJfCbp > div {
  margin-right: 14px;
  margin-top: 10px;
}

.eGImtQ {
  width: 195px;
  border-radius: 4px;
  overflow: hidden;
}

.hkcXzG {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

.eGImtQ .thumbnail {
  position: relative;
  width: 195px;
  height: 195px;
  flex-shrink: 0;
  overflow: hidden;
}

.fWjUGo {
  object-fit: contain;
}

.eGImtQ .product-info {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  flex: 1 0 0px;
}

.eGImtQ .product-info .product-original-price {
  font-size: 12px;
  line-height: 16px;
  color: rgb(128, 128, 137);
  text-decoration: line-through;
}

.eGImtQ .product-info .above-items {
  height: 86px;
}

.bQXrln {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgb(56, 56, 61);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 32px;
  word-break: break-word;
  margin: 0px;
}

.eGImtQ .product-info .product-price-discount {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.fRuqBI {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(255, 66, 78);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-height: 24px;
  word-break: break-word;
}

.cqPcZE {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  color: rgb(255, 66, 78);
  background: rgb(255, 240, 241);
  border: 1px solid rgb(255, 66, 78);
  border-radius: 2px;
  text-align: center;
  padding: 0px 2px;
}

.eGImtQ .product-info .bottom-items div {
  margin-top: 8px;
}

.jPGEIJ {
  background-color: rgb(255, 170, 175);
  height: 20px;
  border-radius: 100px;
  width: 160px;
  position: relative;
  padding: 2px 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}
.jPGEIJ .progress-text {
  flex: 1 0 0px;
  color: white;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  z-index: 1;
}

.cngPnM {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(27, 168, 255);
  font-size: 20px;
  line-height: 28px;
  margin: 50px auto 34px;
}



::ng-deep .p-carousel .p-carousel-container {
  display: flex;
  flex-direction: row;
  width: 60%;
}

::ng-deep .p-carousel-indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 69%;
}

.background-image {
  position: relative;
  width: 100%;
  height: 394px; /* Điều chỉnh theo kích thước thật của background */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI5OTk5OXB4IiBoZWlnaHQ9Ijk5OTk5cHgiIHZpZXdCb3g9IjAgMCA5OTk5OSA5OTk5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBzdHJva2U9Im5vbmUiIGZpbGw9Im5vbmUiIGZpbGwtb3BhY2l0eT0iMCI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijk5OTk5IiBoZWlnaHQ9Ijk5OTk5Ij48L3JlY3Q+IDwvZz4gPC9zdmc+" alt="tiki" class="home-lcp" style="background-image:url(&#x27;data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI5OTk5OXB4IiBoZWlnaHQ9Ijk5OTk5cHgiIHZpZXdCb3g9IjAgMCA5OTk5OSA5OTk5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBzdHJva2U9Im5vbmUiIGZpbGw9Im5vbmUiIGZpbGwtb3BhY2l0eT0iMCI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijk5OTk5IiBoZWlnaHQ9Ijk5OTk5Ij48L3JlY3Q+IDwvZz4gPC9zdmc+&#x27;);background-size:cover;position:absolute;width:100%;height:394px;z-index:-1');
  background-size: cover;
}

.content-over-image {
  position: absolute;
  top: 3rem;
  left: 4rem;
  width: 100%;
  height: 100%;
}

.hdVulE {
  position: fixed;
  display: flex;
  bottom: 0px;
  right: 16px;
  flex-direction: column;
  align-items: flex-end;
  z-index: 150;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
}

.custom-header {
  padding-top: 1rem;
  background-color: #007bff;
  color: white;
}

.custom-header .topper {
  padding-right: 1rem;
}

.custom-header .icon {
  margin-right: 0.5rem;
}

.custom-header .text {
  font-size: 16px;
}

.custom-header .text-lg-right {
  text-align: right;
}


// 

.product-item {
    .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }

    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
}

.product-badge.status-instock {
  background: #C8E6C9;
  color: #256029;
}
.product-badge.status-outofstock {
  background: #FFCDD2;
  color: #C63737;
}
.product-badge.status-lowstock {
  background: #FEEDAF;
  color: #8A5340;
}

.customer-badge.status-qualified {
  background: #C8E6C9;
  color: #256029;
}
.customer-badge.status-unqualified {
  background: #FFCDD2;
  color: #C63737;
}
.customer-badge.status-negotiation {
  background: #FEEDAF;
  color: #8A5340;
}
.customer-badge.status-new {
  background: #B3E5FC;
  color: #23547B;
}
.customer-badge.status-renewal {
  background: #ECCFFF;
  color: #694382;
}
.customer-badge.status-proposal {
  background: #FFD8B2;
  color: #805B36;
}

.order-badge.order-delivered {
  background: #C8E6C9;
  color: #256029;
}
.order-badge.order-cancelled {
  background: #FFCDD2;
  color: #C63737;
}
.order-badge.order-pending {
  background: #FEEDAF;
  color: #8A5340;
}
.order-badge.order-returned {
  background: #ECCFFF;
  color: #694382;
}


