<div class="card b-list" #pageEl>
    <p-toast></p-toast>
    <p-confirmDialog [style]="{width: '600px' }" [baseZIndex]="10000"></p-confirmDialog>
    <p-table 
        #table 
        [value]="productPrices"
        editMode="row"
        dataKey="productId" 
        [columns]="cols" [(selection)]="selectedItems"
        [loading]="isLoading" [rowHover]="true" [showCurrentPageReport]="true" [paginator]="false" 
        (onPageChange)="setPage($event)" responsiveLayout="scroll"
        [resizableColumns]="false" [scrollable]="true" 
        [scrollHeight]="scrollHeight+'px'" styleClass="custom-table">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input 
                        pInputText type="text" placeholder="{{ 'SHARE.SEARCH' | translate }}" [(ngModel)]="keyword"
                        style="min-width: 300px" (keyup)="changeKeyword($event)" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left"> {{ 'SHARE.ID' | translate }} </th>
                <th style="min-width: 5rem;" pFrozenColumn alignFrozen="left"> {{ 'PRODUCT_PRICE.COLUMN_PRODUCT_CODE' | translate }} </th>
                <th style="min-width: 9rem;" pFrozenColumn alignFrozen="left"> {{ 'PRODUCT_PRICE.PRODUCT' | translate }} </th>
                <th style="min-width: 9rem;" pFrozenColumn alignFrozen="left"> {{ 'PRODUCT.COLUMN_DEFAULT_PRICE' | translate }} </th>
                <th style="min-width: 9rem;" pFrozenColumn alignFrozen="left"> {{ 'PRODUCT_PRICE.COLUMN_PRICE' | translate }} </th>                   
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-editing="editing" let-rowIndex="rowIndex" let-columns="columns">
            <tr [pEditableRow]="item">
                <td style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left"> {{ item.id }} </td>
                <td style="min-width: 5rem;" pFrozenColumn alignFrozen="left"> 
                    {{ getProductProperty(item.productId,'code') }} 
                </td>
                <td style="min-width: 9rem;" pFrozenColumn alignFrozen="left"> 
                    {{ getProductProperty(item.productId,'name') }} 
                </td>
                <td style="min-width: 9rem;" pFrozenColumn alignFrozen="left"> 
                    {{ formatCurrency(item?.defaultPrice) }} 
                </td>
                <td style="min-width: 9rem;" pFrozenColumn alignFrozen="left"> 
                    <p-inputNumber [disabled]="!(isGranted([PermissionConst.ProductPriceCreate]) || isGranted([PermissionConst.ProductPriceUpdate]))"
                        mode="decimal" locale="de-DE"
                        [(ngModel)]="item.price"
                        (ngModelChange)="onRowEditSave(item, productPriceClones[rowIndex].price)"
                        >
                    </p-inputNumber>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">{{ 'SHARE.EMPTY_MESSAGE' | translate }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="7"> {{ 'SHARE.LOADING_BODY' | translate }}</td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator 
        [rows]="page.pageSize" 
        [totalRecords]="page.totalItems" 
        [rowsPerPageOptions]="[25, 50, 100, 200]" 
        currentPageReportTemplate="{{ page.totalItems }} {{'SHARE.TOTAL_ITEMS' | translate }}" 
        showCurrentPageReport="true"
        (onPageChange)="setPage($event)">
    </p-paginator>
</div>
    