<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">
    <p-toast></p-toast>
    <div class="login-content">
        <div class="night-switch">
            <p-button styleClass="dark-switch"  icon="pi pi-circle-on" (click)="dark = true"></p-button>
            <p-button styleClass="light-switch"  icon="pi pi-circle-off" (click)="dark = false"></p-button>
        </div>
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <img src="assets/layout/images/logo-mirage@2x.png" alt="mirage-layout" />
                </div>
                <h3>Đăng ký</h3>
                <p>Đăng nhập để trải nghiệm những thứ mới mẻ.</p>
                <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
                        <div class="grid p-fluid p-formgrid grid">
                            <div class="field col-6 mb-0 ">
                                <label htmlFor="username" class="buttons"> Tên đăng nhập</label>
                                <input formControlName="username" pInputText type="text"/>         
                            </div>
                
                            <div class="field col-6 mb-0">
                                <label htmlFor="fullName" class="buttons"> Tên đầy đủ</label>
                                <input formControlName="fullName" pInputText type="text"/>         
                            </div>
                
                            <div class="field col-6 mb-0">
                                <label htmlFor="password1" class="buttons"> Mật khẩu</label> 
                                <p-password formControlName="password" id="password" [toggleMask]="true" styleClass="p-password p-component p-inputwrapper p-input-icon-right"></p-password>
                            </div>
                
                            <div class="field col-6 mb-0">
                                <label for="password1" class="buttons"> Nhập lại mật khẩu</label> 
                                <p-password [toggleMask]="true" formControlName="repeatPassword" id="repeatPassword" styleClass="p-password p-component p-inputwrapper p-input-icon-right"></p-password>
                                <span *ngIf="f.repeatPassword.errors?.matchPassword" style="color: red;"> Mật khẩu và Nhập lại mật khẩu không giống nhau! </span>
                            </div>
                
                            <div class="field col-6 mb-0">
                                <label htmlFor="phone" class="buttons">Phone</label>
                                <input formControlName="phone" pInputText type="text"/>         
                            </div>
                
                            <div class="field col-6 mb-0">
                                <label htmlFor="email" class="buttons">Email </label>
                                <input formControlName="email" pInputText type="text"/>         
                            </div>
                            <div class="col-3"></div>
                            <div class="col-6 mt-3">
                                <p-button (click)="onSubmit()" label="Đăng ký" styleClass="p-button-rounded p-button-secondary" [disabled]="submitting"></p-button>
                            </div>
                        
                            <div class="col-12">
                                <a href="/account/login" class="text-black-alpha-60">Đã có tài khoản? <span class="text-black-alpha-90">Đăng nhập</span></a>
                            </div>
                        </div>
                        
                    
                </form>
            </div>
        </div>
        <div class="desert"></div>
    </div>
</div>
