<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="grid p-fluid p-formgrid grid">
        <div class="field col-12 mb-0">
            <label htmlFor="name">{{ 'GROUP_CUSTOMER.NAME' | translate }}<span class="required-field"> * </span></label>
            <input formControlName="name" pInputText type="text" />
        </div>
        <div class="field col-12 mb-0">
            <label htmlFor="businessCustomerIds">{{ 'GROUP_CUSTOMER.BUSINESS_CUSTOMER' | translate
                }}<span class="required-field"> * </span></label>
            <p-multiSelect appendTo="body" formControlName="businessCustomerIds"
                [options]="businessCustomers"
                placeholder="{{ 'GROUP_CUSTOMER.CHOOSE_BUSINESS' | translate }}" optionLabel="labelName"
                optionValue="id" styleClass="w-full">
            </p-multiSelect>
        </div>
    </div>
    <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
        <button type="reset" pButton pRipple label="{{ 'SHARE.CANCEL' | translate }}" icon="pi pi-times"
            class="p-button-text p-confirm-dialog-reject" (click)="ref.close()"></button>
        <button type="submit" pButton pRipple label="{{ 'SHARE.SAVE' | translate }}" icon="pi pi-save"></button>
    </div>
</form>