.iJmZdr {
    overflow: auto;
    height: 100%;
}
.jSALFs {
    display: flex;
    position: relative;
}
.jSALFs .main-image {
    flex: 0 0 472px;
    padding: 16px 12px 0px 16px;
}
.kboZIu {
    padding: 16px 0px 16px 16px;
    position: relative;
}
.kboZIu .group-images {
    display: flex;
    flex-direction: column;
    position: relative;
}
.kboZIu .group-images .thumbnail {
    text-align: center;
    position: relative;
}
.bobuMh {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 444px;
    height: 444px;
    cursor: pointer;
}
.bobuMh .container {
    position: relative;
    display: flex;
    width: 444px;
    height: 444px;
}
.kboZIu .image-badges {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
}
.kboZIu .review-images {
    flex: 0 0 100%;
    margin: 16px 0px 0px;
}
.kboZIu .review-images__list {
    display: flex;
}
.kboZIu .review-images__list a.active {
    border: 1px solid rgb(0, 171, 86);
}
.kboZIu .review-images__list a:last-child {
    margin-bottom: 0px;
    margin-right: 0px;
}
.kboZIu .review-images__list a {
    cursor: pointer;
    position: relative;
    width: 64px;
    height: 64px;
    margin-right: 12px;
    border-radius: 4px;
    overflow: hidden;
}
.kboZIu .review-images__list a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.dzVRbr {
    display: flex;
    margin-top: 24px;
    -webkit-box-align: center;
    align-items: center;
}
.coYCPR {
    font-size: 15px;
    line-height: 24px;
    color: rgb(36, 36, 36);
}
.elgJGA.left {
    margin-left: 8px;
}
.elgJGA {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    cursor: pointer;
}
.jSALFs .main {
    padding: 16px 16px 16px 12px;
    background: rgb(255, 255, 255);
    min-height: 460px;
    border-left: 1px solid rgb(245, 245, 250);
}
.rsaH {
    font-size: 24px;
    line-height: 32px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 4px;
    font-weight: 300;
}
.cJVicW {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: rgb(128, 128, 137);
}
.eOVxiF {
    width: 1px;
    height: 8px;
    margin: auto 4px;
    background-color: rgb(235, 235, 240);
}
.iZsEnk {
    width: 484px;
    padding-bottom: 0px;
    background-color: rgb(255, 255, 255);
}
.dKeDlH {
    border: 4px;
    background-color: rgb(245, 245, 250);
    width: 484px;
    padding: 12px 16px;
    margin-top: 16px;
}
.dKeDlH .product-price {
    display: flex;
    align-items: flex-end;
    color: rgb(56, 56, 61);
}
.dKeDlH .product-price__current-price {
    font-size: 32px;
    line-height: 40px;
    margin-right: 8px;
    font-weight: 500;
}
.bLxURI {
    content: " ";
    left: 0px;
    right: 0px;
    height: 1px;
    margin: 16px 0px;
    background-color: rgb(235, 235, 240);
}
.dgvged {
    padding-bottom: 16px;
}
.FsXjX {
    margin-top: 16px;
}
.bWLIkG:last-child {
    margin-bottom: 0px;
}
.jHDcAh {
    color: rgb(142, 142, 142);
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin: 0px;
    padding-right: 20px;
}
.SrIPG {
    display: flex;
    flex-wrap: wrap;
}
.KPaZw {
    display: flex;
}
.KPaZw .product-detail-popup_chat {
    height: auto;
    margin-right: 12px;
    padding: 9px 16px 9px 19px;
    font-size: 16px;
    line-height: 24px;
}

.KPaZw .product-detail-popup_cart {
    height: auto;
    margin-left: 12px;
    padding: 9px 16px 9px 19px;
    font-size: 16px;
    line-height: 24px;
}

.kEYWit {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(0, 171, 86);
    border-radius: 4px;
    padding: 8px 16px;
    height: 36px;
    cursor: pointer;
    color: rgb(0, 171, 86);

}
.cRBypb {
    width: 84px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.hUDPfd.default {
    border-color: rgb(215, 250, 224);
    background-color: rgb(215, 250, 224);
}
.hUDPfd {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: fit-content;
    border: 1px solid rgb(0, 171, 86);
    border-radius: 4px;
    overflow: hidden;
    transition: border-color 0s ease 0s, background-color 0.1s linear 0s;
    background-color: rgb(255, 255, 255);
    min-width: 132px;
    height: 44px;
}
.kyaAak {
    width: 320px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    border-radius: 4px;
    background-color: rgb(215, 250, 224);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 11px;
    color: rgb(0, 171, 86);
}
.bdWrYu:first-child {
    margin-top: 16px;
}
.bdWrYu {
    font-size: 14px;
    line-height: 20px;
}
.bdWrYu .name {
    color: rgb(128, 128, 137);
}
.bdWrYu .value {
    color: rgb(56, 56, 61);
}
.hHIhzi {
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
}
.hHIhzi .see-more {
    cursor: pointer;
    color: rgb(11, 116, 229);
}
.dqOHIf {
    width: 100%;
    background-color: rgb(245, 245, 250);
    height: 16px;
}
.iJmZdr .customer-reviews {
    margin-bottom: 0px;
}
.hyphpd {
    word-break: break-word;
    opacity: 1;
    color: rgb(36, 36, 36);
    margin: 0px 0px 16px;
    min-height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}
.hyphpd .customer-reviews__heading {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 8px 16px;
}
.iJmZdr .customer-reviews__inner {
    padding-bottom: 0px;
}
.hyphpd .customer-reviews__inner {
    padding-bottom: 16px;
}
.hyphpd .customer-reviews__top {
    display: flex;
    padding: 0px 48px;
}
.hyphpd .customer-reviews__top > .review-rating {
    flex-basis: 335px;
    flex-shrink: 0;
    margin: 0px 0px 32px;
}
.gvczEB {
    user-select: none;
}
.gvczEB .review-rating__summary {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gvczEB .review-rating__point {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    white-space: nowrap;
    margin: 0px 16px 0px 0px;
}
.bkVtVK {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.gvczEB .review-rating__total {
    line-height: 20px;
    margin-top: 1px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(128, 128, 137);
}
.gvczEB .review-rating__detail {
    margin: 12px 0px 0px;
}
.hyphpd .justify-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.hyphpd .items-baseline {
    -webkit-box-align: baseline;
    align-items: baseline;
}
.hyphpd .flex {
    display: flex;
}
.emqSjh {
    display: flex;
    padding: 48px 0px 32px;
}
.emqSjh .filter-review__label {
    flex-shrink: 0;
    font-size: 15px;
    line-height: 24px;
    margin: 0px 16px 0px 0px;
    padding-top: 4px;
    color: rgb(56, 56, 61);
    font-weight: 400;
}
.emqSjh .filter-review__inner {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}
.emqSjh .filter-review__item {
    height: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    border-radius: 100px;
    color: rgb(56, 56, 61);
    background: rgb(245, 245, 250);
    margin: 0px 12px 12px 0px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
}
.emqSjh .filter-review__check {
    display: none;
    width: 18px;
    height: 18px;
    margin-right: 11px;
}
.dOzoKz {
    padding: 32px 48px;
    display: flex;
    border-top: 1px solid rgb(242, 242, 242);
}
.dOzoKz .review-comment__user {
    flex-basis: 335px;
    flex-shrink: 0;
}
.dOzoKz .review-comment__user-inner {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.dOzoKz .review-comment__user-avatar {
    margin: 0px 12px 0px 0px;
    width: 48px;
    height: 48px;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.lfujih.has-character {
    position: relative;
    padding-top: 100%;
    background-color: rgb(242, 242, 242);
}
.lfujih {
    border-radius: 50%;
    overflow: hidden;
    width: inherit;
    height: inherit;
}
.dOzoKz .review-comment__user-name {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: capitalize;
}
.dOzoKz .review-comment__user-date {
    font-size: 13px;
    line-height: 20px;
    color: rgb(128, 128, 137);
}
.dOzoKz .review-comment__user-info {
    margin: 12px 0px 0px;
    color: rgb(128, 128, 137);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.dOzoKz .review-comment__rating-title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 4px;
}
.dOzoKz .review-comment__rating {
    flex-shrink: 0;
}
.bkVtVK {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.dOzoKz .review-comment__title {
    margin: 0px 0px 0px 12px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(36, 36, 36);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.dOzoKz .review-comment__seller-name-attributes {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 16px;
}
.dOzoKz .review-comment__seller-name {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(0, 171, 86);
}

.dOzoKz .review-comment__check-icon {
    display: block;
    width: 14px;
    height: 14px;
    background-color: rgb(0, 171, 86);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    margin: 0px 6px 0px 0px;
}
.dOzoKz .review-comment__content {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 0px 8px;
    white-space: pre-wrap;
}
.dOzoKz .review-comment__created-date {
    font-size: 13px;
    line-height: 20px;
    margin: 0px 0px 16px;
    color: rgb(128, 128, 137);
}
.dOzoKz .review-comment__attributes {
    font-size: 13px;
    line-height: 20px;
    color: rgb(128, 128, 137);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 2px;
}
.dOzoKz .review-comment__attributes--item {
    position: relative;
}
.dOzoKz .review-comment__time-line {
    position: relative;
    padding-left: 10px;
    margin-left: 8px;
}
.dOzoKz .review-comment__thank {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(11, 116, 229);
    border: 1px solid rgb(11, 116, 229);
    font-weight: 500;
    border-radius: 4px;
    margin: 0px 24px 0px 0px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}
.dOzoKz .review-comment__reply {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(11, 116, 229);
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}
.hyphpd .customer-reviews__empty {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-right: 0px solid rgb(235, 235, 240);
}
.kyaAak {
    width: 320px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    border-radius: 4px;
    background-color: rgb(215, 250, 224);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 11px;
    color: rgb(0, 171, 86);
}
.hUDPfd > div, .hUDPfd button {
    flex: 1 0 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}