<div class="styles__StyledContentWrapper-sc-1xvsotp-9 iJmZdr">
    <div class="styles__StyledProductExtraDetail-sc-1xvsotp-0 jSALFs">
        <div class="main-image">
            <div style="margin: -16px 0px -16px -16px;">
                <div class="style__ProductImagesStyle-sc-1fmads3-0 kboZIu">
                    <div class="group-images">
                        <div class="thumbnail" data-view-id="pdp_main_view_gallery">
                            <div class="ImageLens__Wrapper-sc-10jbnlj-0 bobuMh">
                                <div class="container">
                                    <div style="position: relative;">
                                        <picture class="webpimg-container">
                                            <source type="image/webp"
                                                srcset="{{AppConsts.remoteServiceBaseUrl}}/{{ product?.image }} 1x, {{AppConsts.remoteServiceBaseUrl}}/{{ product?.image }} 2x">
                                            <img src="{{AppConsts.remoteServiceBaseUrl}}/{{ product?.image }}"
                                                alt="[Chỉ giao HN] -  Bia 333 Thùng 24 lon"
                                                srcset="{{AppConsts.remoteServiceBaseUrl}}/{{ product?.image }} 1x, {{AppConsts.remoteServiceBaseUrl}}/{{ product?.image }} 2x"
                                                class="WebpImg__StyledImg-sc-h3ozu8-0 fWjUGo"
                                                style="width: 444px; height: 444px; z-index: 0;">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-badges" style="position: initial;"></div>
                    </div>
                    <div class="review-images">
                        <div class="review-images__list"><a data-view-id="pdp_main_view_photo" class="active">
                                <picture class="webpimg-container">
                                    <source type="image/webp"
                                        srcset="{{AppConsts.remoteServiceBaseUrl}}/{{ product?.image }} 1x, {{AppConsts.remoteServiceBaseUrl}}/{{ product?.image }} 2x">
                                    <img alt="product-img-0"
                                        src="{{AppConsts.remoteServiceBaseUrl}}/{{ product?.image }}"
                                        srcset="{{AppConsts.remoteServiceBaseUrl}}/{{ product?.image }} 1x, {{AppConsts.remoteServiceBaseUrl}}/{{ product?.image }} 2x"
                                        class="WebpImg__StyledImg-sc-h3ozu8-0 fWjUGo" style="width: 64px;">
                                </picture>
                            </a></div>
                    </div>
                </div>
            </div>
            <div style="padding-bottom: 16px;">
                <div class="styles__ProductActionV2Container-sc-kdypyf-0 dzVRbr">
                    <div class="styles__Text-sc-kdypyf-1 coYCPR">Chia sẻ:</div><img
                        src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-facebook.svg"
                        alt="social-facebook" class="styles__Icon-sc-kdypyf-2 elgJGA left"><img
                        src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-messenger.svg"
                        alt="social-messenger" class="styles__Icon-sc-kdypyf-2 elgJGA"><img
                        src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-pinterest.svg"
                        alt="social-pinterest" class="styles__Icon-sc-kdypyf-2 elgJGA"><img
                        src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-twitter.svg"
                        alt="social-twitter" class="styles__Icon-sc-kdypyf-2 elgJGA"><img
                        src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-copy.svg"
                        alt="social-copy" class="styles__Icon-sc-kdypyf-2 elgJGA last">
                </div>
            </div>
        </div>
        <div class="main">
            <div class="styles__StyledProductName-sc-1xvsotp-3 rsaH">{{product?.name}}</div>
            <div class="styles__StyledReviewLine-sc-1xvsotp-2 cJVicW">
                <div style="display: flex; align-items: center;">
                    <div style="position: relative;">
                        <div style="height: 20px;"><svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                viewBox="0 0 24 24" size="20" color="#EBEBF0" height="20" width="20"
                                xmlns="http://www.w3.org/2000/svg" style="color: rgb(235, 235, 240);">
                                <path
                                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                            </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="20" color="#EBEBF0" height="20" width="20" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(235, 235, 240);">
                                <path
                                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                            </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="20" color="#EBEBF0" height="20" width="20" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(235, 235, 240);">
                                <path
                                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                            </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="20" color="#EBEBF0" height="20" width="20" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(235, 235, 240);">
                                <path
                                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                            </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="20" color="#EBEBF0" height="20" width="20" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(235, 235, 240);">
                                <path
                                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                            </svg></div>
                        <div
                            style="width: 100%; white-space: nowrap; position: absolute; left: 0px; top: 0px; overflow: hidden; height: 20px;">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="20" color="#FFC400" height="20" width="20" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(255, 196, 0);">
                                <path
                                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                            </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="20" color="#FFC400" height="20" width="20" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(255, 196, 0);">
                                <path
                                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                            </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="20" color="#FFC400" height="20" width="20" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(255, 196, 0);">
                                <path
                                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                            </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="20" color="#FFC400" height="20" width="20" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(255, 196, 0);">
                                <path
                                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                            </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="20" color="#FFC400" height="20" width="20" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(255, 196, 0);">
                                <path
                                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div style="margin-left: 4px;"><span>(</span>
                        <div style="cursor: pointer; display: inline;">Xem 1 đánh giá</div><span>)</span>
                    </div>
                </div>
                <div class="styles__SmallVerticalSeparator-sc-65hv5m-0 eOVxiF"></div>Đã bán 11
            </div>
            <div class="styles__ASACashbackWrapper-sc-1xvsotp-11 iZsEnk">
                <div class="style__StyledProductPrice-sc-rg4jbx-0 dKeDlH">
                    <div class="product-price">
                        <div class="product-price__current-price">{{formatCurrency(product?.defaultPrice)}} ₫</div>
                    </div>
                </div>
            </div>
            <div class="styles__HorizontalSeparator-sc-65hv5m-2 bLxURI"></div>
            <div class="styles__StyledProductOptions-sc-1xvsotp-6 dgvged">
                <div class="styles__ProductOptionsWrapper-sc-1nouebe-0 FsXjX">
                    <div data-view-id="pdp_main_select_configuration"
                        class="styles__VariantSelectWrapper-sc-ultl4k-0 bWLIkG">
                        <p class="styles__SelectedOption-sc-ultl4k-1 jHDcAh option-name"></p>
                        <div class="styles__OptionListWrapper-sc-ultl4k-2 SrIPG"></div>
                    </div>
                </div>
            </div>
            <div class="styles__QuantityInputWrapper-sc-1xvsotp-10 KPaZw">
                <div (click)="chat()" class="styles__StyledChatButton-sc-uagtmx-0 kEYWit product-detail-popup_chat"><img
                        src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/commentOutlinedGreen.svg"
                        alt="Chat" width="15" height="15" style="margin-right: 10px;">Chat</div>
                <div class="styles__FixWidth-sc-1bf8f4l-0 cRBypb" style="width: 320px; justify-content: flex-start;">
                    <div class="styles__QuantityInputWrapper-sc-1bf8f4l-1 hUDPfd default">
                        <div (click)="addCart(product)">
                            <div class="styles__StyledDefaultQuantityInputShow-sc-1xvsotp-1 kyaAak"><svg width="16.5"
                                    height="16.5" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.75 1.5C9.75 1.08579 9.41421 0.75 9 0.75C8.58579 0.75 8.25 1.08579 8.25 1.5V8.25H1.5C1.08579 8.25 0.75 8.58579 0.75 9C0.75 9.41421 1.08579 9.75 1.5 9.75H8.25V16.5C8.25 16.9142 8.58579 17.25 9 17.25C9.41421 17.25 9.75 16.9142 9.75 16.5V9.75H16.5C16.9142 9.75 17.25 9.41421 17.25 9C17.25 8.58579 16.9142 8.25 16.5 8.25H9.75V1.5Z"
                                        fill="#00AB56"></path>
                                </svg>Thêm</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="styles__StyledChatButton-sc-uagtmx-0 kEYWit product-detail-popup_cart" (click)="cart()">
                    <i class="pi pi-shopping-cart" width="16.5" height="16.5" style="margin-right: 10px;"></i>
                    Giỏ hàng
                </div> -->
            </div>
            <div style="display: inline-block;"></div>
            <div>
                <div class="style__Attribute-sc-3jv0nh-0 bdWrYu"><span class="name">Danh mục: </span><span
                        class="value">{{product?.productCategoryName}}</span></div>
                <div class="style__Attribute-sc-3jv0nh-0 bdWrYu"><span class="name">Đơn vị: </span><span
                        class="value">{{product?.calculationUnitName}}</span></div>
            </div>
            <div class="styles__StyledDescription-sc-1xvsotp-4 hHIhzi">{{product?.description}}</div>
        </div>
    </div>
    <div class="styles__Seperator-sc-1q3ok85-4 dqOHIf"></div>
    <div class="styles__Seperator-sc-1q3ok85-4 dqOHIf"></div>
    <div>
        <div class="style__StyledCustomerReviews-sc-10ol6xi-0 hyphpd customer-reviews">
            <div class="customer-reviews__heading">Đánh Giá - Nhận Xét Từ Khách Hàng</div>
            <div class="customer-reviews__empty mb-3"><svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 80 80">
                    <defs>
                        <path id="57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-a"
                            d="M43.716 5.432l2.859 10.239a7.29 7.29 0 004.228 4.796l9.682 3.99c5.349 2.204 6.112 9.605 1.327 12.87l-8.661 5.913a7.327 7.327 0 00-3.158 5.57l-.708 10.613c-.39 5.86-7.057 8.872-11.592 5.235l-8.212-6.585a7.085 7.085 0 00-6.18-1.354l-10.12 2.57c-5.59 1.418-10.473-4.122-8.492-9.635l3.585-9.982a7.441 7.441 0 00-.66-6.407L2.067 24.24c-3.064-4.985.584-11.419 6.344-11.189l10.428.415a7.106 7.106 0 005.772-2.606l6.692-8.147C35-1.787 42.136-.223 43.716 5.433z">
                        </path>
                        <path id="57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-c"
                            d="M28.34 5.431l2.86 10.24c.608 2.176 2.168 3.947 4.227 4.796l9.683 3.99c5.348 2.204 6.111 9.604 1.328 12.87l-8.662 5.913a7.326 7.326 0 00-3.158 5.57l-.709 10.613c-.026.39-.08.766-.159 1.13C12.394 55.609-1.723 35.19.251 13.338l3.213.127a7.1 7.1 0 005.77-2.606l6.694-8.147c3.696-4.499 10.834-2.935 12.412 2.72z">
                        </path>
                        <path id="57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-e"
                            d="M29.628 11.393c.658-3.136 3.67-5.132 6.73-4.458 3.06.673 5.007 3.761 4.35 6.897-.657 3.135-3.67 5.132-6.73 4.458-3.06-.674-5.007-3.761-4.35-6.897zM7.276.53c3.059.674 5.006 3.762 4.349 6.898-.657 3.135-3.67 5.132-6.729 4.457-3.06-.674-5.007-3.762-4.35-6.897.657-3.136 3.67-5.131 6.73-4.458z">
                        </path>
                        <path id="57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-g"
                            d="M.75 8.56c.165-.784.919-1.283 1.683-1.114l3.957.87c.765.169 1.252.942 1.087 1.725-.164.784-.917 1.283-1.682 1.114l-.499-.11c-.422 5.407 3.124 10.446 8.436 11.616 5.311 1.17 10.564-1.932 12.346-7.04l-.5-.11c-.764-.168-1.251-.94-1.086-1.724.163-.784.917-1.283 1.682-1.114l3.957.871c.765.169 1.252.94 1.087 1.724-.164.784-.918 1.283-1.682 1.114l-.666-.146c-2.126 6.674-8.892 10.77-15.734 9.264-6.84-1.506-11.369-8.09-10.633-15.069l-.665-.147C1.074 10.116.587 9.344.75 8.56zm21.025-4.917c.164-.783.917-1.282 1.683-1.114l.276.06c.765.17 1.252.941 1.087 1.725-.164.784-.917 1.283-1.682 1.114l-.277-.06c-.764-.169-1.251-.94-1.087-1.725zM12.655.15l.277.061c.765.168 1.252.941 1.087 1.724-.164.785-.917 1.284-1.682 1.115l-.278-.06c-.764-.17-1.25-.941-1.087-1.725.165-.785.918-1.283 1.683-1.115z">
                        </path>
                    </defs>
                    <g fill="none" fill-rule="evenodd" opacity="0.997">
                        <g transform="rotate(-12 67.32 3.796)">
                            <mask id="57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-b" fill="#fff">
                                <use xlink:href="#57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-a"></use>
                            </mask>
                            <path fill="#C7C7C7" d="M-6.732-7.793h79.409v81.922H-6.732z"
                                mask="url(#57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-b)"></path>
                        </g>
                        <g transform="rotate(-12 59.633 -69.346)">
                            <mask id="57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-d" fill="#fff">
                                <use xlink:href="#57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-c"></use>
                            </mask>
                            <path fill="#E0E0E0" d="M-7.62-7.793h64.921v76.236H-7.62z"
                                mask="url(#57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-d)"></path>
                        </g>
                        <g transform="rotate(-12 159.533 -57.659)">
                            <mask id="57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-f" fill="#fff">
                                <use xlink:href="#57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-e"></use>
                            </mask>
                            <path fill="#C7C7C7" d="M-7.269-7.49h55.792v33.801H-7.269z"
                                mask="url(#57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-f)"></path>
                        </g>
                        <g transform="rotate(-12 162.44 -80.152)">
                            <mask id="57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-h" fill="#fff">
                                <use xlink:href="#57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-g"></use>
                            </mask>
                            <path fill="#000" fill-opacity="0.54" d="M-6.969-7.773h45.907v41.475H-6.969z"
                                mask="url(#57fcf8c4-daa5-443a-8a03-9c1bb1ec0d12-h)"></path>
                        </g>
                    </g>
                </svg><span>Chưa có đánh giá nào cho sản phẩm này</span></div>
        </div>
    </div>
</div>