<wrapper-page-list (_countScrollHeight)="scrollHeight=$event">
    <div class="card b-list" #pageEl>
        <div class="p-fluid p-formgrid grid b-header">
            <div class="col-12 md:col-7 b-title">
                <h4 style="display:inline">Danh sách hãng vận chuyển</h4>
            </div>
            <div class="col-12 md:col-5 b-action">
                <p-button
                    *ngIf="isGranted([PermissionConst.CalculationUnitCreate])"
                    icon="pi pi-plus" 
                    label="{{ 'GROUP_CUSTOMER.BUTTON_ADD' | translate }}"
                    class="p-button-success mr-2" 
                    (click)="create()">
                </p-button>
            </div>
        </div>
        <p-toast></p-toast>
        <p-confirmDialog header="{{ 'CONFIRM.TITLE' | translate }}" icon="pi pi-exclamation-triangle"></p-confirmDialog>
        <p-table 
            #table 
            [value]="rows" 
            [columns]="cols"
            [loading]="isLoading" [rowHover]="true" [showCurrentPageReport]="true" [paginator]="false" 
            (onPageChange)="setPage($event)" responsiveLayout="scroll" dataKey="code"
            [resizableColumns]="false" [scrollable]="true" 
            [scrollHeight]="scrollHeight+'px'" styleClass="custom-table {{ isRowOdds && 'striped-odd' }}">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
    
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="{{ 'SHARE.SEARCH' | translate }}" [(ngModel)]="keyword"
                                style="min-width: 300px" (keyup)="changeKeyword($event)" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left"> {{ 'SHARE.ID' | translate }} </th>
                    <th *ngFor="let col of columns" [ngStyle]="{'max-width': !col?.isPin ? col?.width : '', 'min-width': col?.width}" [ngClass]=" col?.class ">
                        {{ col?.header }}
                    </th> 
                    <th style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn class="b-border-frozen-right" alignFrozen="right" [frozen]="true">
                        <i class="pi pi-cog"></i>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-columns="columns">
                <tr>
                    <td style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left"> {{ row.id }} </td>
                    <td *ngFor="let col of columns" [ngStyle]="{'max-width': !col?.isPin ? col?.width : '', 'min-width': col?.width}" [ngClass]=" col?.class">
                        <div [ngClass]="col?.cutText" [title]="row[col?.field]">
                            {{ row[col?.field]}}
                        </div>
                    </td>
                    <td style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right b-table-actions">
                        <div class="flex">
                            <i class="pi pi-ellipsis-h"  (click)="menu.toggle($event)"></i>
                            <p-menu 
                                #menu [popup]="true"class="button-actions"
                                [model]="listAction[rowIndex]" appendTo="body"
                                >
                            </p-menu>
                        </div>
                    </td>
                </tr>
            </ng-template>
    
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">Không có dữ liệu.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7"> Đang tải dữ liệu ... </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator 
            [rows]="page.pageSize" 
            [totalRecords]="page.totalItems" 
            [rowsPerPageOptions]="[25, 50, 100, 200]" 
            currentPageReportTemplate="Tất cả {{ page.totalItems }} dòng" 
            showCurrentPageReport="true"
            (onPageChange)="setPage($event)">
        </p-paginator>
    </div>
</wrapper-page-list>

       