<div class="card">
    <p-toast></p-toast>
    <p-confirmDialog header="{{ 'CONFIRM.TITLE' | translate }}" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <div class="card-body">
        <div class="grid wrapper-header">
            <div class="col-4 text-left">
                <h3 class="mb-0 pr-3" style="color: #172b4d;"> {{ 'CALENDAR_CONFIGURATION.TEXT_HEADER' | translate }}</h3>
            </div>
            <div class="col-4 text-center">
                <h3 class="mb-0"> {{ this.year }} </h3>
            </div>
            <div class="col-4 text-right"
                style="padding-right: 15px !important;">
                <label class="mb-0 mr-2"> <b> {{ 'CALENDAR_CONFIGURATION.TEXT_DROPDOWN' | translate }} <i class="fas fa-hand-point-right"></i> </b> </label>
                <p-dropdown [options]="years" (onChange)="init()" [(ngModel)]="year" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' : submitted }"></p-dropdown>
            </div>
        </div>

        <div class="row wrapper-body">
            <div class="col-md-12">
                <div class="table-responsive">
                <table id="calendar" class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <ng-container *ngFor="let item of headers">
                                <th [ngStyle]="{backgroundColor:'#756BE6', color:'white'}"> {{ item.vi }} </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let month of months">
                            <tr>
                                <td> {{ month.value | translate }}</td>
                                <ng-container *ngFor="let item of headers; let i = index">
                                    <td *ngIf="i < month?.data[0]?.dayDate || i >= (month?.data[0]?.dayDate + month?.data?.length)">
                                        {{ '-' }} 
                                    </td>
                                    <ng-container *ngIf="month?.data[0]?.dayDate == item.order">
                                        <ng-container *ngFor="let dayInfo of month.data">
                              
                                            <td [title]="dayInfo?.dateTime" (click)="edit(dayInfo)" >
                                                <span
                                                    [class]="dayInfo?.isDayOff == YesNoConst.YES ? 'tick' : ''">
                                                    {{ +dayInfo.day }} 
                                                </span>
                                            </td>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

