<div #pageEl>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()" >
        <div class="tab-info" [style.height.px]="contentHeight" *ngIf="itemDetail?.id" #formEditOrDetail>
            <div class="text-right">
                <p-button *ngIf="isGranted([PermissionConst.BusinessCustomerUpdate])"
                    styleClass="custom-button" 
                    label="{{ (isEdit ? 'SHARE.UPDATE' : 'SHARE.EDIT') | translate }}" 
                    [icon]="!isEdit ? 'pi pi-pencil' : 'pi pi-save'" 
                    (click)="isEdit=!isEdit; changeEdit()">
                </p-button>
            </div>    
            <div class="form-detail">
                <div class="flex info-line {{ !isEdit || 'unset-border' }}" *ngFor="let input of businessCustomer">
                    <div class="title-{{currentLang}}">
                        <label> {{ input.labelKeyLang | translate }}: </label>
                    </div>
                    <div class="content">
                        <span *ngIf="!isEdit"> {{ postForm?.value[input.controlName] }} </span>
                        <input *ngIf="isEdit" [formControlName]="input.controlName" pInputText type="text"/>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div *ngIf="!itemDetail?.id" class="p-fluid p-formgrid grid form-input" #formCreate>
            <div class="field col-6" *ngFor="let input of businessCustomer">
                <label htmlFor="input.controlName">{{ input.labelKeyLang | translate }}<span class="required-field"> * </span></label>
                <input [formControlName]="input.controlName" pInputText type="text"/>
            </div>
            <div class="field col-12" *ngIf="!postForm?.value?.id">
                <p-checkbox formControlName="isRestaurant" [binary]="true" [style.transform]="'scale(1.25)'"></p-checkbox>
                <label (click)="toggleCheckbox()" class="mb-0 ml-2" for="isRestaurant"> {{ 'BUSINESS_CUSTOMER.CHECKBOX_IS_RESTAURANT' | translate }} </label>
            </div>
        </div>
        <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
            <button type="reset" pButton pRipple label="{{ 'SHARE.CANCEL' | translate }}" icon="pi pi-times" class="p-button-text p-confirm-dialog-reject" (click)="ref.close()"></button>
            <button type="submit" pButton pRipple label="{{ 'SHARE.SAVE' | translate }}" icon="pi pi-save"></button>
        </div>
    </form>
</div>
