<wrapper-page-list (_countScrollHeight)="scrollHeight=$event">
    <div class="card b-list" #pageEl>   
        <div class="p-fluid p-formgrid grid b-header">
            <div class="col-12 md:col-7 b-title">
                <h4 style="display:inline"> {{ 'DOCUMENT.TABLE_HEADER' | translate }} </h4>
            </div>
            <div class="col-12 md:col-5 b-action">
                <button *ngIf="userInfo.user_type === UserConst.ADMIN"
                    icon="pi pi-plus" pButton pRipple class="p-button-success mr-2" 
                    (click)="create()" label="{{ 'DOCUMENT.BUTTON_ADD' | translate }}"></button>
    
            </div>
        </div>
        <p-toast></p-toast>
        <p-confirmDialog header="{{ 'CONFIRM.TITLE' | translate }}" icon="pi pi-exclamation-triangle"></p-confirmDialog>
        <p-table 
            #table 
            [value]="rows" 
            [columns]="cols"
            [loading]="isLoading" [rowHover]="true" [showCurrentPageReport]="true" [paginator]="false" 
            (onPageChange)="setPage($event)" responsiveLayout="scroll" dataKey="code"
            [resizableColumns]="false" [scrollable]="true" 
            [scrollHeight]="scrollHeight+'px'" styleClass="custom-table {{ isRowOdds && 'striped-odd' }}">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
    
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="{{ 'SHARE.SEARCH' | translate }}" [(ngModel)]="keyword"
                                style="min-width: 300px" (keyup)="changeKeyword($event)" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left"> {{ 'SHARE.ID' | translate }} </th>
                    <th *ngFor="let col of columns" [ngStyle]="{'max-width': !col?.isPin ? col?.width : '', 'min-width': col?.width}" [ngClass]=" col?.class ">
                        {{ col?.header }}
                    </th> 
                    <!-- <th style="max-width:12rem; min-width:12rem; justify-content: center;" pFrozenColumn alignFrozen="right"> {{ 'DOCUMENT.COLUMN_DOCUMENT_VIEWER' | translate }} </th> -->
                    <th style="max-width:12rem; min-width:12rem; justify-content: center;" pFrozenColumn alignFrozen="right"> {{ 'DOCUMENT.COLUMN_DOWNLOAD_DOCUMENTS' | translate }} </th>
                    <th style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn class="b-border-frozen-right" alignFrozen="right" [frozen]="true">
                        <i class="pi pi-cog"></i>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-columns="columns">
                <tr>
                    <td style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left"> {{ row.id }} </td>
                    <td *ngFor="let col of columns" [ngStyle]="{'max-width': !col?.isPin ? col?.width : '', 'min-width': col?.width}" [ngClass]=" col?.class">
                        <div [ngClass]="col?.class" [title]="row[col?.field]">
                            <ng-container *ngIf="col?.field !== 'isView'; else template">{{ row[col?.field] }}</ng-container>
                        </div>
                        <ng-template #template>
                     
                            <div [ngClass]="col?.class" *ngIf="col?.field === 'isView'">
                                <ng-container *ngIf="col?.field === 'isView'">
                                    <p-checkbox [readonly]="true" [(ngModel)]="row.isView" [binary]="true" inputId="binary"></p-checkbox>
                                </ng-container>
                            </div>
                        </ng-template>
                    </td>
        

                    <!-- <td style="max-width:12rem; min-width:12rem; justify-content: center;" pFrozenColumn alignFrozen="right">
                        <i class="pi pi-eye mr-4" (click)="viewFile(row)" style="cursor:pointer ;" pTooltip="{{ 'DOCUMENT.COLUMN_DOCUMENT_VIEWER' | translate }}"></i>
                    </td> -->
                    <td style="max-width:12rem; min-width:12rem; justify-content: center;" pFrozenColumn alignFrozen="right">
                        <i class="pi pi-download" (click)="downloadFile(row)" style="cursor:pointer;" pTooltip="{{ 'DOCUMENT.COLUMN_DOWNLOAD_DOCUMENTS' | translate }}"></i>
                    </td>
            
                    <td style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right b-table-actions">
                        <div class="flex">
                            <i class="pi pi-ellipsis-h"  (click)="menu.toggle($event)"></i>
                            <p-menu 
                                #menu [popup]="true"class="button-actions"
                                [model]="listAction[rowIndex]" appendTo="body"
                                >
                            </p-menu>
                        </div>
                    </td>
                </tr>
            </ng-template>
    
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">{{ 'SHARE.EMPTY_MESSAGE' | translate }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7"> {{ 'SHARE.LOADING_BODY' | translate }}</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator 
            [rows]="page.pageSize" 
            [totalRecords]="page.totalItems" 
            [rowsPerPageOptions]="[25, 50, 100, 200]" 
            currentPageReportTemplate="{{ page.totalItems }} {{'SHARE.TOTAL_ITEMS' | translate }}" 
            showCurrentPageReport="true"
            (onPageChange)="setPage($event)">
        </p-paginator>
         <!-- Xem hồ sơ tải lên -->
         <app-form-view-pdf-file *ngIf="modalDialogPDF" (onClose)="hideDialog()" [modalDialogPDF]="modalDialogPDF" [urlfilePDF]="urlfilePDF"></app-form-view-pdf-file>
    </div>
</wrapper-page-list>

       