// .tiki-logo {
//     width: 136px;
//     height: 46px;
//     display: block;
// }

// /*!sc*/
// .tiki-logo img {
//     width: 100%;
//     height: 100%;
// }
.sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(45, 194, 109);
    border-radius: 3rem;
    /* Add other styles if needed */
  }
  
  .tiki-logo img {
    max-width: 90%;
    height: auto;
  }
    