
<div  class="layout-sidebar" [ngClass]="{'layout-sidebar-active': appMain.sidebarActive}" (click)="appMain.onSidebarClick($event)"
     (mouseover)="appMain.sidebarActive=true" (mouseleave)="appMain.sidebarActive=false">
     <!--  -->
    <div class="mt-0 ml-0 sidebar-logo"> 
        <a *ngIf="this.userInfo.user_type !== 4" href="/account/landing" data-view-id="header_main_logo" class="tiki-logo" style="background: rgb(45, 194, 109); border-radius: 1rem;">
            <img src="https://frontend.tikicdn.com/_desktop-next/static/img/tikingon/tikingon-logo.svg?v=2" alt="tiki-logo"/>
        </a>
        <a *ngIf="this.userInfo.user_type === 4" href="/account/landing" data-view-id="header_main_logo" class="tiki-logo" style="background: rgb(45, 194, 109); border-radius: 1rem;">
            <img src="https://frontend.tikicdn.com/_desktop-next/static/img/tikingon/tikingon-logo.svg?v=2" alt="tiki-logo"/>
        </a>
        <!-- <a *ngIf="this.userInfo.user_type === 4" class="tiki-logo" href="/account/landing">
            <img src="../../../assets/layout/images/NGON.png" alt="tiki-logo"/>
        </a> -->
    </div>
    <div class="layout-menu-container" (click)="onMenuClick()">
        <!-- <span class="menu-title">{{ 'MENU.MENU' | translate }}</span> -->
        <ul class="layout-menu">
            <ng-container *ngFor="let item of model; let i = index;">
                <li app-menuitem  [item]="item" [index]="i" [root]="true" *ngIf="item.isShow"></li>
            </ng-container>
        </ul>
    </div>
</div>
