<p-dialog [(visible)]="modalDialogPDF" [style]="{width: '1000px', height: '100%', 'max-height': '100%'}" 
        header="Nội dung" [modal]="true" styleClass="b-view-pdf" (onHide)="hideDialog()">
    <ng-template pTemplate="header">
        <div class="col-12 md:col-6">
            <h4 class="title-info mb-0"> Nội dung </h4>
        </div>
        <div class="col-12 md:col-5 b-actions">
            <div class="text-right">
                <p-button styleClass="p-button-sm custom-button border-600"
                    label="Tải hồ sơ" icon="pi pi-download" (click)="downloadFileScanUrl()">
                </p-button>
            </div>
        </div>
    </ng-template>
    
    <ng-template pTemplate="content" style="padding: 0px;">
    <pdf-viewer
        [src]="urlfilePDF"
        [rotation]="0"
        [original-size]="true"
        [show-all]="true"
        [fit-to-page]="false"
        [zoom-scale]="'page-width'"
        [stick-to-page]="false"
        [render-text]="false"
        [external-link-target]="'blank'"
        [autoresize]="true"
        [show-borders]="false"
        style="width: 100%; height: 100%;"
    ></pdf-viewer>
    </ng-template>
</p-dialog>


