<div class="grid">
	<div class="col-12">
		<p-toast></p-toast>
        <p-confirmDialog header="{{ 'CONFIRM.TITLE' | translate }}" icon="pi pi-exclamation-triangle"></p-confirmDialog>
		<div class="card">
			<h5>Sản phẩm của chúng tôi</h5>
			<p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
				<ng-template pTemplate="header">
					<div class="flex flex-column md:flex-row md:justify-content-between gap-2">
						<p-dropdown [options]="sortOptions" placeholder="Sort by price" (onChange)="onSortChange($event)"></p-dropdown>
						<span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by name" (input)="onFilter(dv, $event)">
                        </span>	
						<p-dataViewLayoutOptions></p-dataViewLayoutOptions>
					</div>
				</ng-template>

				<ng-template let-product pTemplate="listItem">
					<div class="col-12">
						<div class="flex flex-column md:flex-row align-items-center p-3 w-full"> 
							<!-- <img src="{{AppConsts.remoteServiceBaseUrl}}/{{ product?.image }}" [alt]="product.name" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5"/> -->
							<img src="{{ AppConsts.remoteServiceBaseUrl }}/{{ product?.image }}" [alt]="product.name" class="my-4 md:my-0 w-9 md:w-10rem h-5 md:h-10rem shadow-2 mr-5" />
							<div class="flex-1 flex flex-column align-items-center text-center md:text-left">
								<div class="font-bold text-2xl">{{product.name}}</div>
								<!-- <div class="mb-2">{{product.description}}</div> -->
								<p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false" styleClass="mb-2"></p-rating>
								<div class="flex align-items-center mt-2">
									<i class="pi pi-tag mr-2"></i>
									<span class="font-semibold">{{product.productCategoryName}}</span>
								</div>
							</div>
							<div class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
								<span class="text-2xl font-semibold mb-2 align-self-center md:align-self-end">{{formatCurrency(product.defaultPrice)}} đ</span>
								<p-button (click)="addCart(product)" icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'" styleClass="mb-2 p-button-sm"></p-button>
								<span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
							</div>
						</div>
					</div>
				</ng-template>

				<ng-template let-product pTemplate="gridItem">
					<div class="col-12 md:col-3">
						<div class="card m-3 border-1 surface-border" >
							<div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2" (click)="detail(product)">
								<div class="flex align-items-center">
									<i class="pi pi-tag mr-2"></i>
									<span class="font-semibold">{{product.productCategoryName}}</span>
								</div>
								<span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
							</div>
							<div (click)="detail(product)" class="flex flex-column align-items-center text-center mb-3">
								<img src="{{AppConsts.remoteServiceBaseUrl}}/{{ product?.image }}" [alt]="product.name" class="h-5 md:h-10rem w-9 shadow-2 my-3 mx-0"/>
								<div class="text-2xl font-bold">{{product.name}}</div>
								<div class="mb-3">{{product.description?.split(' ').slice(0, 3).join(' ')}} ...</div>
								<p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
							</div>
							<div class="flex align-items-center justify-content-between">
								<span class="text-2xl font-semibold">{{formatCurrency(product.defaultPrice)}} đ</span>
								<p-button (click)="addCart(product)" icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataView>
		</div>
	</div>
</div>