<div>
    <div class="grid p-fluid">
        <div class="col-12 md:col-12">
            <h6 class="label-title"> {{data.title }} </h6>         
        </div>

        <div class="field col-12">
            <label htmlFor="content">{{ 'CONFIRM.NOTE' | translate }}  </label>
            <textarea rows="4" cols="30" pInputTextarea [(ngModel)]="data.note"></textarea>
          </div>
    </div>
    <div class="p-dialog-footer custom-dialog-footer">
        <button pButton pRipple label="{{ 'COMMON.CANCEL' | translate }}" icon="pi pi-times" class="p-button-text p-confirm-dialog-reject" (click)="cancel()"></button>
        <button pButton pRipple label="{{ 'SHARE.SAVE' | translate }}" icon="pi pi-check" class="p-button-text p-confirm-dialog-approve" (click)="accept()"></button>
    </div>
</div>
