<wrapper-page-list (_countScrollHeight)="scrollHeight=$event">
    <div class="card b-list" #pageEl>
        <p-toast></p-toast>
        <p-confirmDialog header="{{ 'CONFIRM.TITLE' | translate }}" icon="pi pi-exclamation-triangle"></p-confirmDialog>
            <div class="p-fluid p-formgrid grid b-header">
                <div class="col-12 md:col-7 b-title">
                    <h4 style="display:inline"> {{ 'ORDER.ORDER' | translate }} </h4>
                </div>
            </div>
            <p-table 
                #partnerTable 
                [value]="rows" 
                [columns]="cols"
                [loading]="isLoading" [rowHover]="true" [showCurrentPageReport]="true" [paginator]="false" 
                (onPageChange)="setPage($event)" responsiveLayout="scroll" dataKey="code"
                [resizableColumns]="false" [scrollable]="true" 
                [scrollHeight]="scrollHeight+'px'" styleClass="custom-table {{ isRowOdds && 'striped-odd' }}">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div class="flex justify-content-between flex-column sm:flex-row">
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" placeholder="{{ 'SHARE.SEARCH' | translate }}" [(ngModel)]="keyword"
                                        style="min-width: 300px" (keyup)="changeKeyword($event)" />
                            </span>
    
                            <span class="p-float-label b-custom ml-3" *ngIf="userInfo.user_type === UserConst.ADMIN">
                                <p-dropdown 
                                    [options]="businessCustomers" [style]="{'width':'18rem'}"
                                    [(ngModel)]="filter.businessCustomerId" 
                                    optionLabel="labelName" optionValue="id" placeholder="{{ 'ORDER.CHOOSE_BUSINESS_CUSTOMER' | translate}}"
                                    (onChange)="setPage()" [showClear]="true" 
                                    [autoDisplayFirst]="false">
                                </p-dropdown>   
                                <label class="font-normal" for="dropdownStatus">  {{ 'BUSINESS_CUSTOMER.BUSINESS_CUSTOMER' | translate }} </label>
                            </span>
    
                            <span class="p-float-label b-custom ml-3">
                                <p-calendar
                                    placeholder="dd/mm/yyyy - dd/mm/yyyy"
                                    appendTo="body"
                                    dateFormat="dd/mm/yy"
                                    [(ngModel)]="filter.dates"
                                    selectionMode="range"
                                    [readonlyInput]="true"
                                    [showIcon]="true"
                                    [style]="{ width: '18rem', border: 'none' }"
                                    locale="vi"
                                    (onSelect)="selectDays($event)"
                                    (onClearClick)="setPage($event)"
                                    [showButtonBar]="true"
                                ></p-calendar>
                                <label class="font-normal" for="dropdownStatus">  {{ 'ORDER.RANGE_DATE' | translate }} </label>
                            </span>
                            
                            <span class="p-float-label b-custom ml-3">
                                <p-dropdown
                                    [options]="OrderConst.listStatus" [style]="{'width':'14rem'}"
                                    [(ngModel)]="filter.status" (onChange)="setPage()"
                                    optionLabel="name" optionValue="value" placeholder="{{ 'ORDER.CHOOSE_STATUS' | translate}}"
                                    [showClear]="true" [autoDisplayFirst]="false">
                                    <ng-template pTemplate="selectedItem">
                                        {{ OrderConst.getNameStatus(filter.status).name | translate}}
                                    </ng-template>
                                    <ng-template let-option pTemplate="item">
                                        <span>{{ option.name | translate}}</span>
                                    </ng-template>
                                </p-dropdown>   
                                <label class="font-normal" for="dropdownStatus"> {{ 'SHARE.STATUS' | translate }} </label>
                            </span>
    
                        </div>
    
                    </div>
                    <hr>
                    <div class="flex justify-content-end flex-column sm:flex-row">
                        <div class="b-action">
                            <button *ngIf="isGranted([PermissionConst.OrderExportExcel])" icon="pi pi-download" pButton pRipple class="p-button-success mr-2" label="{{ 'ORDER.EXPORT_EXCEL' | translate }}"></button>
                        </div>
                        <div class="b-action">
                            <button *ngIf="isGranted([PermissionConst.OrderCreate])" icon="pi pi-plus" pButton pRipple class="p-button-success mr-2" (click)="create()" label="{{ 'ORDER.BUTTON_ADD' | translate }}"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="max-width: 8rem; min-width: 8rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left"> {{ 'ORDER.CODE' | translate }} </th>
                        <th *ngFor="let col of columns" [ngStyle]="{'max-width': !col?.isPin ? col?.width : '', 'min-width': col?.width}" [ngClass]=" col?.class ">
                            {{ col?.header }}
                        </th> 
                        <th style="max-width: 8rem; min-width: 8rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right">{{ 'SHARE.STATUS' | translate }}</th>
                        <th style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn class="b-border-frozen-right" alignFrozen="right" [frozen]="true">
                            <i class="pi pi-cog"></i>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-columns="columns">
                    <tr>
                        <td style="max-width: 8rem; min-width: 8rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left"> {{ "VVN-" + row.id }} </td>
                        <td *ngFor="let col of columns" [ngStyle]="{'max-width': !col?.isPin ? col?.width : '', 'min-width': col?.width}" [ngClass]=" col?.class">
                            <div [ngClass]="col?.cutText" [title]="row[col?.field]">
                                {{ row[col?.field]}}
                            </div>
                        </td>
                        <td style="max-width: 8rem; min-width: 8rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right"> 
                            <p-tag 
                                styleClass="p-tag-{{ OrderConst.getAttribution(row.status).severity }}" 
                                severity="{{ OrderConst.getAttribution(row.status).severity }}" 
                                value="{{ OrderConst.getAttribution(row.status).name | translate }}">
                            </p-tag> 
                        </td>
                        <td style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right b-table-actions">
                            <div class="flex">
                                <i class="pi pi-ellipsis-h"  (click)="menu.toggle($event)"></i>
                                <p-menu 
                                    #menu [popup]="true"class="button-actions"
                                    [model]="listAction[rowIndex]" appendTo="body"
                                    >
                                </p-menu>
                            </div>
                        </td>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">{{ 'SHARE.EMPTY_MESSAGE' | translate }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="7"> {{ 'SHARE.LOADING_BODY' | translate }}</td>
                    </tr>
                </ng-template>
            </p-table>
            <p-paginator 
                [rows]="page.pageSize" 
                [totalRecords]="page.totalItems" 
                [rowsPerPageOptions]="[25, 50, 100, 200]" 
                currentPageReportTemplate="{{ page.totalItems }} {{'SHARE.TOTAL_ITEMS' | translate }}" 
                showCurrentPageReport="true"
                (onPageChange)="setPage($event)">
            </p-paginator>
    </div>
</wrapper-page-list>


       