<e-loading *ngIf="isLoading"></e-loading>
<div class="grid layout-dashboard ml-0 mr-0" *ngIf="refreshTemplate">
    <div class="col-12 xl:col-12 md:col-12" style="padding-left: 1rem">
        <!-- Tổng quan -->
        <div class="overall">
            <div class="flex card-container blue-container mt-3 pr-5">
                <div class="flex-none flex align-items-center justify-content-center"><h4>{{ 'DASHBOARD.OVERVIEW' | translate }}</h4></div>
                <div class="flex-grow-1 flex align-items-center justify-content-end ">
                    <span class=" ml-2 p-float-label b-custom">
                        <p-calendar 
                            class="ml-2 pcalendarHome mr-2" placeholder="dd/mm/yyyy" appendTo="body" dateFormat="dd/mm/yy" 
                            [(ngModel)]="dataFilter.firstDate" [maxDate]="maxDate" [readonlyInput]="true" inputId="firstDate" 
                            [showIcon]="true" [style]="{'width':'10rem', 'border':'none'}" 
                            locale="vi" (onSelect)="setPage()">
                        </p-calendar>
                        <label for="">{{ 'DASHBOARD.START_DATE' | translate }}</label>
                    </span>
                    <span class=" ml-2 p-float-label b-custom">
                        <p-calendar 
                            class="ml-2 pcalendarHome" placeholder="dd/mm/yyyy" appendTo="body" dateFormat="dd/mm/yy" 
                            [(ngModel)]="dataFilter.endDate" [maxDate]="maxDate" [readonlyInput]="true" inputId="endDate" 
                            [showIcon]="true" [style]="{'width':'10rem', 'border':'none'}" 
                            locale="vi" (onSelect)="setPage()">
                        </p-calendar>
                        <label for="">{{ 'DASHBOARD.END_DATE' | translate }}</label>
                    </span>
                    <span class="p-float-label b-custom ml-1">
                        <p-dropdown id="dropdownStatus" [style]="{'width':'18rem', 'background':'rgba(0, 0, 0, 0.02)'}" 
                            [options]="businessCustomers" optionLabel="fullName" optionValue="id" class=" ml-2" appendTo="body"
                            [autoDisplayFirst]="false" placeholder="{{ 'DASHBOARD.CHOOSE_BUSINESS_CUSTOMER' | translate }}" [showClear]="true"
                            [(ngModel)]="dataFilter.businessCustomerId" (onChange)="changeBusinessCustomer($event.value)">
                        </p-dropdown>   
                    </span>
                    <span class="p-float-label b-custom ml-1">
                        <p-dropdown 
                            [disabled]="!dataFilter.businessCustomerId"    
                            id="dropdownStatus" [style]="{'width':'18rem', 'background':'rgba(0, 0, 0, 0.02)'}" 
                            [options]="restaurants" optionLabel="name" optionValue="id" class=" ml-2" appendTo="body"
                            [autoDisplayFirst]="false" placeholder="{{ 'DASHBOARD.CHOOSE_RESTAURANT' | translate }}" [showClear]="true"
                            [(ngModel)]="dataFilter.restaurantId" (onChange)="setPage()">
                        </p-dropdown>   
                    </span>
                </div>
            </div>
        </div>
        <!-- 3 thẻ hiển thị tiền -->
        <div class="flex widget-board mt-6" style="padding-left: 0;">
            <div class="flex align-items-center justify-content-center col-4 xl:col-4 md:col-4">
                <div class="grid grid-nogutter widget-overview-box overview-box-1" style="padding: 2.5rem 1rem">
                    <div class="col-3 overview-box-icon">
                        <img src="assets/layout/images/dashboard/icon-messages.svg" alt="mirage-layout" />
                    </div>
                    <div class="col-9 overview-box-text">
                        <h5>Doanh số</h5>
                        <span>Tổng doanh số tích lũy</span>
                    </div>
                    <div class="col-12 overview-box-text mt-2">
                        <p class="overview-box-price">{{ overview.totalMoney ? utils.transformMoney(overview.totalMoney) : 0 }}</p>
                    </div>
                    <div class="col-6 overview-box-text mt-2">
                        <p class="overview-box-accumulated-title">Tổng doanh thu</p>
                    </div>
                    <div class="col-6 overview-box-text mt-2" style="text-align: right">
                        <p class="overview-box-accumulated-price">{{overview.moneyInDay ? utils.transformMoney(overview.moneyInDay) : 0}}</p>
                    </div>
                </div>
                
            </div>
            <div class="flex align-items-center justify-content-center col-4 xl:col-4 md:col-4">
                <div class="grid grid-nogutter widget-overview-box overview-box-2" style="padding: 2.5rem 1rem">
                    <div class="col-3 overview-box-icon">
                        <img src="assets/layout/images/dashboard/icon-messages.svg" alt="mirage-layout" />
                    </div>
                    <div class="col-9 overview-box-text">
                        <h5>Đơn hàng</h5>
                        <span>Số đơn hàng được đặt</span>
                    </div>
                    <div class="col-12 overview-box-text mt-2">
                        <p class="overview-box-price">{{ overview.orderQuantity ? utils.transformMoney(overview.orderQuantity) : 0 }}</p>
                    </div>
                    <div class="col-6 overview-box-text mt-2">
                        <p class="overview-box-accumulated-title">Tổng đơn hàng</p>
                    </div>
                    <div class="col-6 overview-box-text mt-2" style="text-align: right">
                        <p class="overview-box-accumulated-price">{{overview.orderInDay ? utils.transformMoney(overview.orderInDay) : 0}}</p>
                    </div>
                </div>
                
            </div>
            <!-- <div class="flex-1 flex align-items-center justify-content-center col-12 xl:col-4 md:col-4">
                <div class="grid grid-nogutter widget-overview-box overview-box-3" style="padding: 2.5rem 1rem">
                    <div class="col-3 overview-box-icon">
                        <img src="assets/layout/images/dashboard/icon-messages.svg" alt="mirage-layout" />
                    </div>
                    <div class="col-9 overview-box-text">
                        <h5 style="color: #000;">Số dư</h5>
                        <span>Số dư đầu tư hiện tại</span>
                    </div>
                    <div class="col-12 overview-box-text mt-2">
                        <p class="overview-box-price">{{ cashInInfo?.soDu?.luyKe ? utils.transformMoney(cashInInfo?.soDu?.luyKe) : 0 }}</p>
                    </div>
                    <div class="col-4 overview-box-text mt-2">
                        <p class="overview-box-accumulated-title">Hôm nay</p>
                    </div>
                    <div class="col-8 overview-box-text mt-2" style="text-align: right">
                        <p class="overview-box-accumulated-price">{{cashInInfo?.soDu?.soDu ? utils.transformMoney(cashInInfo?.soDu?.soDu) : 0}}</p>
                    </div>
                </div>
               
            </div> -->
        </div>

    </div>    

    <!-- Doanh thu theo ngày -->
    <div class="col-12 mt-6 mb-6" style="padding-left: 1.5rem; padding-right: 3rem;">
        <h3> Doanh thu theo ngày </h3> 
        <p-chart class="chart-container" type="line" [data]="moneyChart" width="{{widthMoney}}" [options]="moneyChartOptions" height="300"></p-chart>
    </div>

    <!-- Chart DS theo kỳ hạn sản phẩm -->
    <div  class="mt-4 col-12 xl:col-12 md:col-12">
        <h3> Đơn hàng theo ngày </h3> 
        <div id="orderId" class=" xl:col-12 md:col-12" style="padding-left: 0.5rem; padding-right: 3rem;">
            <p-chart type="bar" [data]="order" width="{{widthOrder}}" [options]="orderOptions"  height="300"></p-chart>
        </div>
    </div>
</div>
