<p-toast></p-toast>
<p-confirmDialog header="{{ 'CONFIRM.TITLE' | translate }}" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <div class="card w-percen-100">
        <div class="flex justify-content-end flex-wrap card-container purple-container header-left mb-3 boder-custom" >
            <p-button class="create-btn-custom"
                styleClass="p-button-sm custom-button " label="{{ 'DELIVERY_ADDRESS.BUTTON_ADD' | translate }}"
                [icon]="'pi pi-plus'" (click)="create()">
            </p-button>
        </div>
        <!--  -->
        <ng-container *ngIf="rows.length == 0">
            <h6>{{'ORDER.NO_RESTAURANT_ADDRESS' | translate }}</h6>
        </ng-container>
        <ng-container *ngFor="let row of rows">
            <div class="">
                <div class="RnMqRZ OIBd-J col-12">
                    <div class="_70j3aj">
                        <div role="heading" class="_7lC5y1 fVHv1Z">
                            <div class="XBSydm DikMLj">
                                <span class="Tv2wKj uBRQwt">
                                    <div class="YD3W3V">{{row.receiver}}</div>
                                </span><div class="xbIya3">
                
                                </div>
                                <div role="row" class="Ayh0hN L8KYK3 IsnjAd">{{row.phone}}</div>
                            </div>
                            <div class="oSiOlj"></div>
                        </div>
                        <div role="heading" class="_7lC5y1 fVHv1Z">
                            <div class="XBSydm DikMLj">
                                <div class="tiDOor mt-3">
                                    <div role="row" class="IsnjAd"> {{row.address}}</div>
                                </div>
                            </div>
                            <div class="iI3vH9 oSiOlj">
                                <button
                                    pButton pRipple type="button" label="{{ 'ORDER.CHOOSE_ADDRESS' | translate }}"  [ngClass]="{'cursor-custom': row.isDefault}"
                                    (click)="chooseAddress(row)" class="p-button-outlined p-button-secondary p-button-sm button-custom">
                                </button>
                            </div>
                        </div>
                        <div *ngIf="row.isDefault" role="row" class="TArgaE IsnjAd">
                            <span role="mark" class="fZIR8+ gXV+gD wIyMUR">{{ 'ORDER.DEFAULT' | translate }}</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </ng-container>
</div>
