
<!-- ConfirmService -->
<p-confirmDialog [style]="{width: '600px'}" [baseZIndex]="10000"></p-confirmDialog>
<!--  -->
<p-toast></p-toast> 

<div class="card b-list">
    <div class="p-fluid p-formgrid grid b-header">
        <div class="col-12 md:col-7 b-title">
            <h4 style="display:inline"> {{'ROLE_MANAGER.ROLES' | translate}}</h4>
        </div>
        <div class="col-12 md:col-5 b-action">
            <button *ngIf="isGranted([PermissionConst.RoleCreate])"
                (click)="createRole()" label="{{'ROLE_MANAGER.ADD_ROLE' | translate}}" icon="pi pi-plus" class="p-button-success mr-2" pButton pRipple>
            </button>
        </div>
    </div>
    <p-table 
        #webTable 
        [value]="rows" 
        [loading]="isLoading" [rowHover]="true"
        responsiveLayout="scroll" dataKey="code"
        [scrollable]="true" scrollHeight="{{ (screenHeight*0.65) + 'px' }}" styleClass="custom-table" >
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input 
                        pInputText type="text" placeholder="{{'COMMON.SEARCH' | translate}}" style="min-width: 300px;"
                        [(ngModel)]="keyword" (keyup)="changeKeyword($event)"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width: 5rem; max-width: 5rem;"> #ID </th>
                <th style="width: 12rem;"> {{'ROLE_MANAGER.ROLE_NAME' | translate}} </th>
                <th style="width: 12rem;"> {{'ROLE_MANAGER.USER_TYPE' | translate}} </th>
                <th style="width: 12rem;"> {{'ROLE_MANAGER.DESCRIPTION' | translate}}</th>
                <!--  -->
                <!-- <th style="width: 7rem; max-width: 7rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right"> {{'ROLE_MANAGER.STATUS' | translate}} </th>                 -->
                <th style="min-width: 3rem; max-width: 3rem;" pFrozenColumn alignFrozen="right" [frozen]="true"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr>
                <td style="min-width: 5rem; max-width: 5rem;"> {{ row.id }} </td>
                <td style="width: 12rem;"> {{ row.name }} </td>
                <td style="width: 12rem;"> {{ UserConst.getNameType(row.userType)}} </td>
                <td style="width: 12rem;"> {{ row.description }} </td>
                <!--  -->
                <!-- <td style="width: 7rem; max-width: 7rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right"> -->
                    <!-- {{ row.status }}  -->
                    <!-- <p-tag class="wrapper-status-phsc" severity="{{ ProductBondInfoConst.getStatusSeverity(row.status) }}" value="{{ ProductBondInfoConst.getStatusName(row.status) }}"></p-tag>  -->
                <!-- </td>              -->
                <td style="min-width: 3rem; max-width: 3rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-table-actions">
                    <div class="flex justify-content-center" *ngIf="listAction[rowIndex]?.length">
                        <i class="pi pi-ellipsis-h" (click)="menu.toggle($event)"></i>
                        <p-menu
                            #menu [popup]="true"class="button-actions"
                            [model]="listAction[rowIndex]" appendTo="body">
                        </p-menu>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">{{ 'SHARE.EMPTY_MESSAGE' | translate }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="7"> {{ 'SHARE.LOADING_BODY' | translate }}</td>
            </tr>
        </ng-template>
    </p-table>
    <!-- <p-paginator                 
        [rows]="page.pageSize" 
        [totalRecords]="page.totalItems" 
        [rowsPerPageOptions]="[25, 50, 100, 200]" 
        currentPageReportTemplate="Tất cả {{ page.totalItems }} dòng" 
        showCurrentPageReport="true"
        (onPageChange)="setPage($event)">
    </p-paginator> -->
</div>
<!-- THEM & SUA-->
<app-create-or-update-role 
    *ngIf="modalDialog" 
    (onCloseDialog)="hideModal($event)" [modalDialog]="modalDialog" [permissionFull]="permissionFull" [roleInfo]="roleInfo">
</app-create-or-update-role>